<template>
    <section class=" container-fluid  ">
            <div class="section-head">
                <h2> {{$t('home_page_brands')}} <a href="#">{{$t('home_page_see_all')}} <i class="fa fa-caret-right"></i></a></h2>
            </div>
        <div>
            <VueSlickCarousel  v-bind="settings" class="img-fluid">
                <img :src="'frontend/img/brand2.png'" disabled="">
                <img :src="'frontend/img/brand1.png'" disabled="">
                <img :src="'frontend/img/brand2.png'">
                <img :src="'frontend/img/brand1.png'">
                <img :src="'frontend/img/brand2.png'">
                <img :src="'frontend/img/brand1.png'">
                <img :src="'frontend/img/brand2.png'">
                <img :src="'frontend/img/brand2.png'">
                <img :src="'frontend/img/brand1.png'">
                <img :src="'frontend/img/brand2.png'">
                <img :src="'frontend/img/brand1.png'">
                <img :src="'frontend/img/brand2.png'">
            </VueSlickCarousel>
        </div>

    </section>
</template>

<script>
    import VueSlickCarousel from 'vue-slick-carousel'
    import 'vue-slick-carousel/dist/vue-slick-carousel.css'
    // optional style for arrows & dots
    export default {
        name: "BrandsComponent",
        data() {
            return {
                settings: {
                    "dots": false,
                    "edgeFriction": 0.35,
                    "infinite": false,
                    "speed": 500,
                    "slidesToShow": 10,
                    "slidesToScroll": 10,
                    "arrows": false,
                    "responsive": [
                        {
                            "breakpoint": 1024,
                            "settings": {
                                "slidesToShow": 3,
                                "slidesToScroll": 3,
                                // "infinite": true,
                                // "dots": true
                            }
                        },
                        {
                            "breakpoint": 600,
                            "settings": {
                                "slidesToShow": 2,
                                "slidesToScroll": 2,
                                "initialSlide": 2
                            }
                        },
                        {
                            "breakpoint": 480,
                            "settings": {
                                "slidesToShow": 1,
                                "slidesToScroll": 1
                            }
                        }
                    ]
                },


            }
        },
        components: { VueSlickCarousel }
    }


</script>

<style scoped>

@import "BrandsComponent.css";


</style>
