<template>
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-md-12">

                <div class="form-group text-left">
                    <h3 class="b-color">{{profileForm.type == 'entity' ? profileForm.entity_name : profileForm.name }}
                        <img src="frontend/img/certificate.png" alt="" style="width:3%"> </h3>
                    <p class="Nofigure">0.0 (100)</p>
                    <div style="display: inline-flex;text-align:center">
                        <span class="fa fa-star checked-star"></span>
                        <span class="fa fa-star checked-star"></span>
                        <span class="fa fa-star checked-star"></span>
                        <span class="fa fa-star checked-star"></span>
                        <span class="fa fa-star checked-star"></span>
                    </div>
                    <h4 class="serviceProviderType">USER - {{profileForm.type}}</h4>
                    <user-entity-profile :data="profileForm" v-if="profileForm.type == 'entity' " ></user-entity-profile>
                    <user-individual-profile :data="profileForm" v-if="profileForm.type == 'individual' "></user-individual-profile>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import BaseComponent from "../../../components/base/BaseComponent";

    export default {
        name: "UserProfileComponent",
        extends: BaseComponent,

        data() {
            return {
                editable: false,
                profileForm: {
                    id: "",
                    password: "",
                    type: "entity",
                    cr_number: "",
                    website_url: "",
                    entity_name: "",
                    entity_name_ar: "",
                    brand_name: "",
                    brand_name_ar: "",
                    role_id: "",
                    name: "",
                    email: "",
                    avatar: "",
                    years_of_experience: "",
                    first_name_ar: "",
                    last_name_ar: "",
                    phone_number: "+",
                    country_code: "",
                    user_id: "",
                    nationality: "",
                    gender: "",
                    date_of_birth: "",
                    identification_type: "national_id",
                    identification_number: "",
                },
                previewImage: null,
                generateCodeForm: {
                    type: '',
                    email: '',
                    phone_number: ''
                },
                email: '',
                phone_number: ''


            }
        },
        methods: {


            changePasswordModal(){
                $('#change_password_modal').modal('show')

            },
            async editOrDisableForm(value ){
                console.log({value})
                if (value === true){
                    this.editable = false;

                    try{
                        let userProfile = await this.network().updateUserProfile(this.profileForm)
                        this.getUserProfile();
                        console.log({userProfile})
                    }catch (e) {
                        this.utility().presentFailureToast(e.message)
                    }





                }
                if (value === false)  {
                    this.editable = true;

                }
            },

            async setUser(e) {
                e.preventDefault();
                let res = await this.network().updateProfile(this.profileForm);
                console.log(res);
                await this.sqlite().updateUserInDatabase(res);
                location.reload()
            },
            uploadImage(e) {
                const image = e.target.files[0];
                const reader = new FileReader();
                reader.readAsDataURL(image);
                reader.onload = e => {
                    this.previewImage = e.target.result;
                    this.profileForm.avatar = this.previewImage
                    console.log(this.previewImage);
                };
            },
            async getUser() {
                let user = await this.sqlite().getActiveUser();

                this.profileForm.name = user.name;
                this.profileForm.email = user.email;
                // this.previewImage = user.avatar;
            },
            async getUserProfile() {
                let user = await this.network().getCompleteProfile()
                console.log("user", user);
                this.profileForm = user;
                this.email = user.email;
                this.phone_number = user.phone_number;
            },
            changeEmailOrContactModal(type, value){
                let data = this.generateCodeForm;

                localStorage.setItem('field_type', type);
                if(type == 'email'){
                    if( this.email == value){
                        this.utility().presentFailureToast('Please change email first')
                        return
                    }
                    data.type = type;
                    data.email = value;

                    this.generateCode(data)

                }
                else{
                    if( this.phone_number == value){
                        this.utility().presentFailureToast('Please change phone first')
                        return
                    }
                    data.type = type;
                    data.phone_number = value;
                    this.generateCode(data)

                }

            },
            async generateCode(data){
                console.log({data})
                let code = await this.network().generateCode(data);
                if (code){
                    console.log({code})
                    localStorage.setItem('code', code);
                    localStorage.setItem('code_data', JSON.stringify(data))
                    $('#verification_code').modal('show')
                }
            },



        },

        created() {
            this.getUserProfile()
        }
    }
</script>
<style>
    .append-right {
        position: absolute;
        right: 33px;
        bottom: 25px
    }

    .Nofigure {
        font-size: 12px;
        color: #724DAD;
    }

    .checked-star {
        color: #F7A400;
        width: 15px;
    }

    .label_style {
        font-size: 17px;
    }

    .input_style {
        background: #E4E5E6 !important;
        border: 0 !important;
        color: #20399F !important;
        border-radius: 0 !important;
        font-size: 17px !important;
    }
    /* heading */

    .ENTITY_style,
    .USER_style {
        font-size: 55px;
        font-weight: 700;
        color: black;
    }

    .enitiy_user {
        position: absolute;
        left: 51%;
    }
    /* Slide Range Experience */

    .rangeexp-wrap {
        position: relative;
    }

    .rangeexp {
        width: 100%;
        min-width: 422px;
        margin: 8px 0px 0px 0px;
    }

    .bubbleexp {
        background: #D3152B;
        color: white;
        padding: 4px 12px;
        position: absolute;
        border-radius: 4px;
        left: 50%;
        transform: translateX(-50%);
    }

    .bubbleexp::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 2px;
        background: #D3152B;
        top: -1px;
        left: 50%;
    }
    /*-------END-------*/

    .serviceProviderType {
        color: #d3152b;
        padding: 10px;
        background-color: #f5f5f5;
        width: 200px;
        text-align: center;
        text-transform: capitalize;
        font-size: 18px;
    }
</style>
