<template>

    <div class="form-row py-5" style="max-width: 1000px;">

        <div class="col-md-6 form-group b-color ">
            <label for="entity_name_ar" class="aesteric-label">Entity Name in Arabic  </label>
            <input type="text" :disabled="!editable" v-model="profileForm.entity_name_ar" name="entity_name_ar" class="form-control input_style" placeholder="Entity Name" autocomplete="off">
        </div>
        <div class="col-md-6 form-group b-color ">
            <label for="entity_name" class="aesteric-label"> Entity Name in English </label>
            <input type="text" :disabled="!editable" v-model="profileForm.entity_name" name="entity_name" class="form-control input_style" placeholder="Entity Name" autocomplete="off">
        </div>
        <div class="col-md-6 form-group b-color ">
            <label for="brand_name_ar" class="aesteric-label"> Commercial Name / Brand Name in Arabic </label>
            <input type="text" :disabled="!editable" v-model="profileForm.brand_name_ar" name="brand_name_ar" class="form-control input_style" placeholder="Brand Name" autocomplete="off">
        </div>
        <div class="col-md-6 form-group b-color ">
            <label for="brand_name" class="aesteric-label">Commercial Name / Brand Name  </label>
            <input type="text" :disabled="!editable" v-model="profileForm.brand_name" name="brand_name" class="form-control input_style" placeholder="Brand Name" autocomplete="off">
        </div>
        <div class="col-md-6 form-group b-color ">
            <label for="cr_number" class="aesteric-label">CR Number  </label>
            <input type="text" :disabled="!editable" v-model="profileForm.cr_number" name="cr_number" class="form-control input_style" placeholder="CR Number" autocomplete="off">
        </div>
        <div class="col-md-6 form-group b-color ">
            <label for="website_url" class="aesteric-label">Website Url</label>
            <input type="text" :disabled="!editable" v-model="profileForm.website_url" name="website_url" class="form-control input_style" placeholder="Website Url" autocomplete="off">
        </div>
        <div class="col-md-6 form-group b-color ">
            <label for="first_name" class="aesteric-label">Contact Name </label>
            <input type="text" :disabled="!editable" v-model="profileForm.first_name" name="first_name" class="form-control input_style" placeholder="First Name" autocomplete="off">
        </div>
        <div class="col-md-6 form-group b-color ">
            <label for="last_name" class="aesteric-label"> Last Name </label>
            <input type="text" :disabled="!editable" v-model="profileForm.last_name" name="last_name" class="form-control input_style" placeholder="Last Name" autocomplete="off">
        </div>
        <div class="col-sm-6">
            <div class="form-group text-left b-color ">
                <label class="  aesteric-label">Email Address</label>
                <input type="text" :disabled="!editable" v-model="profileForm.email" name="email" class="form-control input_style" placeholder="Email Address" autocomplete="off">
                <i class="text-danger change-button" v-if="editable " @click="changeEmailOrContactModal('email', profileForm.email)">Change</i>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group intl_input text-left b-color">
                <label class="  aesteric-label">Contact Number</label>
                <phone-mask-input :disabled="!editable" v-model="profileForm.phone_number" autoDetectCountry showFlag classs="form-control input_style phone_number" in inputClass="phone-input-country-wise" flagClass="flag-example" />
                <i class="text-danger change-button" type="button" v-if="editable " @click="changeEmailOrContactModal('phone_number', profileForm.phone_number)">Change</i>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group text-left b-color">
                <label class="aesteric-label">Password</label> <span class="text-danger"> &nbsp; &nbsp; (Minimum 6 Characters)</span>
                <input autocomplete="off" :disabled="!editable" type="password" v-model="profileForm.password" id="password" name="password" class="form-control input_style" placeholder="New Password">
                <i class="text-danger change-button" v-if="editable " @click="changePasswordModal">Change</i>

            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group text-left b-color">
                <label class="aesteric-label">Years of Experience <span class="o-color">{{this.profileForm.years_of_experience}} years</span></label>
                <input type="range" min="5" max="100" :disabled="!editable" v-model="profileForm.years_of_experience" class="form-control rangeexp">
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 text-right">
                    <button class="btn btn_theme btn_danger" @click="editOrDisableForm(editable)" style="min-width: 100px;"><span>{{ editable ? 'Update' : 'Edit' }}</span></button>
                </div>
            </div>
        </div>

        <verificationCode-modal></verificationCode-modal>
        <changePassword-modal></changePassword-modal>

    </div>

</template>

<script>
    import UserProfileComponent from "./UserProfileComponent";

    export default {
        props: ['data'],
        name: "UserEntityProfileComponent",
        extends: UserProfileComponent,
        data() {
            return {
                profileForm: this.data,
            }
        },
        methods: {

        },
        watch: {
            data: function(newVal, oldVal) { // watch it
                console.log(newVal);
                $('.phone-input-country-wise').val(newVal.phone_number)
                // ('phone-input-country-wise').val(this.profileForm.phone_number)
            },
            // years_of_experience: {
            //     this.profileForm..years_of_experience}}
            // }
        },
        mounted() {

        },
    }
</script>

<style scoped>
    .form-group {
        padding: 0px 20px !important;
    }
</style>
