<template>
    <div class="form-row py-5" style="max-width: 1000px;" >
        <div class="col-md-6 form-group b-color ">
            <label for="first_name_ar" class="aesteric-label">Name in Arabic  </label>
            <input :disabled="!editable" type="text" v-model="profileForm.first_name_ar" name="first_name_ar" class="form-control input_style" placeholder="FIrst Name" autocomplete="off">
        </div>
        <div class="col-md-6 form-group b-color ">
            <label for="last_name_ar" class="aesteric-label"> Name in English  </label>
            <input :disabled="!editable" type="text"  v-model="profileForm.first_name" name="last_name_ar" class="form-control input_style" placeholder="Last Name" autocomplete="off">
        </div>

        <div class="col-md-6 form-group b-color ">
            <label for="first_name" class="aesteric-label"> First Name </label>
            <input :disabled="!editable" type="text"  v-model="profileForm.first_name" name="first_name" class="form-control input_style" placeholder="First Name" autocomplete="off">
        </div>
        <div class="col-md-6 form-group b-color ">
            <label for="last_name" class="aesteric-label"> Last Name </label>
            <input :disabled="!editable" type="text"  v-model="profileForm.last_name" name="last_name" class="form-control input_style" placeholder="Last Name" autocomplete="off">
        </div>

        <div class="col-md-3 form-group b-color ">
            <label for="nationality" class="aesteric-label">Nationality </label>
            <select :disabled="!editable" v-model="profileForm.nationality" name="nationality" class="form-control input_style input_styleselectFeild"
                    id="countries">
                    <option value="Kuwait">Kuwait</option>
                    <option value="Saudi Arabia">Saudi Arabia</option>
                    <option value="Jordan">Jordan</option>
                    <option value="Qatar">Qatar</option>
                </select>
        </div>
        <div class="col-md-3 form-group b-color ">
            <label for="gender" class="aesteric-label">Gender </label>
            <select :disabled="!editable" v-model="profileForm.gender" name="gender" class="form-control input_style input_styleselectFeild">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>

        <div class="col-md-6">
            <div class="form-group text-left b-color ">
                <label for="date_of_birth" class="aesteric-label">Date of Birth</label>
                <input :disabled="!editable" v-model="profileForm.date_of_birth" name="date_of_birth" class="form-control input_style" type="date">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group text-left b-color ">
                <label for="identiification_type" class=" aesteric-label">Identification type</label>
                <select :disabled="!editable" v-model="profileForm.identification_type" name="identiification_type" class="form-control input_styleselectFeild input_style"
                    id="identiification_type">
                    <option value="national_id">National Id</option>
                    <option value="passport">Passport</option>
                    <option value="residential_Id">Residential Id</option>
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group text-left b-color ">
                <label for="birthday" class="aesteric-label">Identification Number</label>
                <input :disabled="!editable" v-model="profileForm.identification_number" class="form-control input_style" type="text">
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group text-left b-color">
                <label class="  aesteric-label">Email Address</label>
                <input type="text" :disabled="!editable" v-model="profileForm.email" name="email" class="form-control input_style"
                    placeholder="Email Address" autocomplete="off">
                <i class="text-danger change-button" v-if="editable " @click="changeEmailOrContactModal('email')">Change</i>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group intl_input text-left b-color">
                <label class="  aesteric-label">Contact Number</label>
                <phone-mask-input :disabled="!editable" v-model="profileForm.phone_number" autoDetectCountry showFlag classs="form-control input_style" inputClass="phone-input-country-wise" flagClass="flag-example" />
                <i class="text-danger change-button" v-if="editable " @click="changeEmailOrContactModal('phone_number')">Change</i>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group text-left b-color">
                <label class="aesteric-label">Password</label> <span class="text-danger"> &nbsp; &nbsp; (Minimum 6 Characters)</span>
                <input autocomplete="off" :disabled="!editable" type="password" v-model="profileForm.password" id="password" name="password" class="form-control input_style" placeholder="New Password">
                <i class="text-danger change-button" v-if="editable " @click="changePasswordModal">Change</i>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 text-right">
                    <button class="btn btn_theme btn_danger" @click="editOrDisableForm(editable)" style="min-width: 100px;"><span>{{ editable ? 'Update' : 'Edit' }}</span></button>
                </div>
            </div>
        </div>

        <verificationCode-modal></verificationCode-modal>
        <changePassword-modal></changePassword-modal>
    </div>
</template>

<script>
    import UserProfileComponent from "./UserProfileComponent";

    export default {
        props: ['data'],
        name: "UserIndividualProfileComponent",
        extends: UserProfileComponent,
        data() {
            return {
                profileForm: this.data,
            }
        },
        watch: {
            data: function(newVal, oldVal) { // watch it
                console.log(newVal);
                $('.phone-input-country-wise').val(newVal.phone_number)
                // ('phone-input-country-wise').val(this.profileForm.phone_number)
            }
        },
        methods: {
            setData() {

            }
        },
        mounted() {
            this.setData();
        }


    }
</script>

<style scoped>
    .form-group {
        padding: 0px 20px !important;
    }
</style>
