<template>
    <section class="container-fluid" >
        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators2">
                <li data-target="#carouselExampleIndicators" v-for="banner in banners" :key="banner.id" :data-slide-to="banners.id" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" v-for="banner in banners" :key="banner.id">
                    <img class="d-block w-100 h-100" :src=" banner.image " :alt="banner.name">
                </div>
            </div>

        </div>
    </section>


</template>
<script>
import BaseComponent from "../../base/BaseComponent";

export default {
    name: "HomePageCarouselComponent",
    extends: BaseComponent,
    data() {
        return {
            banners: []
        }
    },
    methods: {
        async getCategoryBanners(){
            let res = await this.network().getCategoryBanners();
            this.banners = res.banners;
            console.log(this.banners);
        }
    },
    created() {
        this.getCategoryBanners();
    }

}
</script>

<style scoped>

@import 'HomePageCarouselComponent.css';

</style>
