<template>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 h-100" :src=" 'frontend/img/header11.jpg'" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 h-100" :src="'frontend/img/header22.jpg'" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 h-100" :src="'frontend/img/header33.jpg'" alt="Third slide">
            </div>
        </div>

    </div>
<!--    <div class="slideshow-container">-->

<!--        <div class="mySlides" style="display: none;">-->
<!--            <img src="https://dev.buildmart.net/public/frontend/img/header11.jpg" style="width:100%">-->
<!--        </div>-->

<!--        <div class="mySlides" style="display: block;">-->
<!--            <img src="https://dev.buildmart.net/public/frontend/img/header22.jpg" style="width:100%">-->
<!--        </div>-->

<!--        <div class="mySlides" style="display: none;">-->
<!--            <img src="https://dev.buildmart.net/public/frontend/img/header33.jpg" style="width:100%">-->
<!--        </div>-->

<!--    </div>-->
</template>

<script>
import BaseComponent from '../../base/BaseComponent.vue'
    export default {
        name: "HeaderSlider",
        extends: BaseComponent,
        data() {
            return {
                sliders: [],
            }
        },
        methods: {
            async getData () {
                // this.logo = await network.getSiteLogo();
                // console.log('logo: ', this.logo)
            },

        },
        created() {
            this.getData ()
        }
    }
</script>

<style scoped>

</style>
