@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700;900&display=swap');

@font-face
{
    font-family: 'Itc-medium';
    src: url('../fonts/ITCAvantGardeStd-Md_1.otf');
}

@font-face
{
    font-family: 'ItcFont';
    src: url('../fonts/ITCAvantGardeStd-Demi_0.otf');
}
@font-face
{
    font-family: 'ItcFont2';
    src: url('../fonts/ITCAvantGardeStd-Md_1.otf');
}
