<template>


    <!-- stepper -->



</template>

<script>

    import BaseComponent from "../../../components/base/BaseComponent";

    export default {
        name: "SubscriptionComponent",
        extends: BaseComponent,
        data(){
            return {

            }
        },
        methods: {

        },
        mounted() {

        },
        created() {

        }
    }
</script>

<style scoped>

</style>
