<template>
	<div class="">
		<header-second></header-second>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<section class="register_sec bsns_dtl">
						<div class="new_div_aded">
							<div class="row">
								<div class="col-sm-2">
									<p>1 Acount Information</p>
								</div>
								<div class="col-sm-2">
									<p>2 SubscriptionPlan</p>
								</div>
								<div class="col-sm-2">
									<p>3 Make Payment</p>
								</div>
							</div>
							<div class="sec_heading">
								<h2>Account Information </h2>
							</div>
							<div class="">
								<p>Service Provider category</p>
							</div>
							<div class="row">
								<div class="col-sm-2">
									<div class="form-group text-left">
										<select type="text" name="nationality" class="form-control nationality"
										v-model="signInForm.nationality">
										<option value selected disabled></option>
									</select>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="form-group text-left">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="entity" id="inlineRadio1" value="entity">
										<label class="form-check-label" for="inlineRadio1">Establishment</label>
									</div>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="form-group text-left">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="individual" id="individual_radio" value="individual">
										<label class="form-check-label" for="inlineRadio2">Freelancer</label>
									</div>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="form-group text-left">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="individual" id="individual_radio" value="individual">
										<label class="form-check-label" for="inlineRadio2">Company</label>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<img src="images/profile.png" class="rounded-circle" alt="Profile Picture" width="100">

							</div>
						</div>
						<div class="wrap_register_white">
							<div class="inr_signup left_info">
								<form class="serviceproviderForm" novalidate="novalidate">
									<div class="cont_rp_form">
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group text-left">
													<label class="last_nm_txt" style="opacity: 1;">Entity Name in Arabic</label><sup
													class="imp_mark imp_mh" style="display: inline;">*</sup>
													<input type="text" name="" class="form-control nm_plc"
													v-model="signInForm.entity_name_arabic"
													placeholder="">
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group text-left">
													<label class="last_nm_txt" style="opacity: 1;">Commerical Name/Brand Name in Arabic </label><sup
													class="imp_mark imp_mh" style="display: inline;">*</sup>
													<input type="text" name="" class="form-control last_nm_plc"
													v-model="signInForm.name_brand_arabic"
													placeholder="">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group text-left">
													<label class="last_nm_txt" style="opacity: 1;">Entity Name in English</label><sup
													class="imp_mark imp_mh" style="display: inline;">*</sup>
													<input type="text" name="" class="form-control nm_plc"
													v-model="signInForm.entity_name_english"
													placeholder="">
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group text-left">
													<label class="last_nm_txt" style="opacity: 1;">Commerical Name/Brand Name in English </label><sup
													class="imp_mark imp_mh" style="display: inline;">*</sup>
													<input type="text" name="" class="form-control last_nm_plc"
													v-model="signInForm.entity_brand_english"
													placeholder="">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group text-left">
													<label class="last_nm_txt" style="opacity: 1;">CR Number</label><sup
													class="imp_mark imp_mh" style="display: inline;">*</sup>
													<input type="text" name="" class="form-control nm_plc"
													v-model="signInForm.cr_number"
													placeholder="">
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group text-left">
													<label class="last_nm_txt" style="opacity: 1;">Website Url </label>
													<input type="text" name="" class="form-control last_nm_plc"
													v-model="signInForm.web_site_url"
													placeholder="">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group text-left">
													<label class="last_nm_txt" style="opacity: 1;">Contact Name</label><sup
													class="imp_mark imp_mh" style="display: inline;">*</sup>
													<input type="text" name="" class="form-control nm_plc"
													v-model="signInForm.contact_name"
													placeholder="First Name">
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group text-left">
													<label class="last_nm_txt" style="opacity: 1;" >Contact Last Name </label>
													<input type="text" name="" class="form-control last_nm_plc"
													v-model="signInForm.contact_last_name"
													placeholder="Last Name">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group text-left">
													<label class="last_nm_txt" style="opacity: 1;">Email Address</label><sup
													class="imp_mark imp_mh" style="display: inline;">*</sup>
													<input type="text" name="" class="form-control nm_plc"
													v-model="signInForm.email_address"
													placeholder="">
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group text-left">
													<label class="last_nm_txt" style="opacity: 1;" >Contact Number </label>
													<sup
													class="imp_mark imp_mh" style="display: inline;">*</sup>
													<input type="text" name="" class="form-control last_nm_plc"
													v-model="signInForm.contact_last_name"
													placeholder="">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group text-left">
													<label class="last_nm_txt" style="opacity: 1;">Password</label><sup
													class="imp_mark imp_mh" style="display: inline;">*(Minimum 6 Characters)</sup>
													<input type="text" name="" class="form-control nm_plc"
													v-model="signInForm.email_address"
													placeholder="">
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group text-left">
													<label class="last_nm_txt" style="opacity: 1;" >Confirm Password</label>
													<sup class="imp_mark imp_mh" style="display: inline;">*</sup>
													<input type="text" name="" class="form-control last_nm_plc"
													v-model="signInForm.contact_last_name"
													placeholder="">
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-sm-12">
												<div class="form-group text-left">
													<label class="last_nm_txt" style="opacity: 1;">Type of services</label><sup
													class="imp_mark imp_mh" style="display: inline;">*</sup>
													<select type="text" name="identification_type" class="form-control identification_type"
													v-model="signInForm.identification_type">
													<option value selected disabled>Choose from list</option>

												</select>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group text-left">
												<label class="last_nm_txt" style="opacity: 1;">Scope of Work</label><sup
												class="imp_mark imp_mh" style="display: inline;">*</sup>
												<select type="text" name="identification_type" class="form-control identification_type"
												v-model="signInForm.identification_type">
												<option value selected disabled>Choose from list</option>
											</select>
										</div>
									</div>
									<div class="col-sm-12">
										<div class="form-group text-left">
											<label class="last_nm_txt" style="opacity: 1;">Projects fields</label><sup
											class="imp_mark imp_mh" style="display: inline;">*</sup>
											<select type="text" name="identification_type" class="form-control identification_type"
											v-model="signInForm.identification_type">
											<option value selected disabled>Choose from list</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<label class="last_nm_txt" style="opacity: 1;">Years of experience</label>
									<div class="progress">
										<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
										aria-valuemin="0" aria-valuemax="100" style="width:70%">
										75 Years
									</div>
								</div>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-6">
								<label class="last_nm_txt" style="opacity:1;">Introduction</label><sup
								class="imp_mark imp_mh" style="display:inline;font-size: 26px;top: 1.5px;left: 5px;">+</sup>
								<textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10"
								placeholder="Write your introduction with max. 1000 words"></textarea>
							</div>
						</div>

					</div>
					<div class="form-group text-left">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="customCheck_nw"
							name="terms_conditions">
							<label class="custom-control-label" for="customCheck_nw">I agree to the <a
								href="https://dev.buildmart.net/termsCondtion" class="ter_links"
								target="_blank"> Terms &amp; Conditions.</a></label>
							</div>
							<span class="error" id="terms_conditions_id"></span>
						</div>
					</form>
				</div>
				<div class="button_nex_prev">
					<div class="">
						<div class="form-group text-right">
							<button class="btn btn_theme usr_form" data-toggle="modal" data-target="#verification_code" @click="">
								<span>Next <i class="fa fa-arrow-right"></i></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
</div>
</div>

</div>
</template>

<script>
    // import {EventBus} from "../../eventbus";
    import BaseComponent from "../../components/base/BaseComponent";

    export default {
    	name: "SignInPageComponent",
    	extends: BaseComponent,
    	data() {
    		return {
    			loginForm: {
    				email: "",
    				password: ""
    			},

    			signInForm: {
    				name: "",
    				email: "",
    				password: "",
    			},
    		}
    	},

    	mounted() {

    	},

    	methods: {

    		async signIn() {
    			console.log(this.signInForm);
    			let res = await this.network().signInUser(this.signInForm);
    			this.processRequest(res)
    		},

    		async logIn() {
    			console.log(this.loginForm);
    			let res = await this.network().logInUser(this.loginForm);
    			this.processRequest(res)
    		},

    		async processRequest(res){
    			var user = res.user;
    			user.token = res.token;
    			console.log(user);
    			await this.sqlite().setUserInDatabase(user);

                // point to taken
                this.route('/profile');
            },
        },
    }
    </script>

    <style scoped>

    </style>
