ul.line-outer {
    display: flex;
}

ul.line-outer li:nth-child(1), ul.line-outer li:nth-child(2) {
    font-size: 20px;
    margin-right: 20px;
}

ul.line-outer li:nth-child(3) {
    font-weight: 400;
}
