<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <ul class="line-outer">
                    <li><p><i class="fa fa-home" aria-hidden="true"></i></p></li>
                    <li><p><i class="fa fa-caret-right" aria-hidden="true"></i></p></li>
                    <li><p>{{ title }}</p></li>
                </ul>
            </div>

        </div>

    </div>
</template>

<script>
    export default {
        props: ['title'],
        name: "LineItemHeader"
    }
</script>

<style scoped>
    @import "LineItemHeader.css";
</style>
