<template>
    <div class="">
        <header-second></header-second>
        <line-item-header :title="'Sign-up'"></line-item-header>
        <div class="container-fluid">
            <div class="signuP_sec" id="signUpsec">
                <div class="custom_container">
                    <div class="wrap_inr_signup">
                        <div class="row">
                            <div class="col-md-8 border-right">

                                <div class="">
                                    <div class="form-group text-left b-color">
                                        <h2 class="o-color"> Sign Up &nbsp;&nbsp;<sub class="b-color"> It’s quick and easy</sub> </h2>
                                        <br>
                                        <h4 class="b-color">Account information</h4>

                                    </div>
                                </div>


                                <div class="form-class-div">
                                    <div class="form-group text-left b-color">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-12">
                                                <label class="radio-inline" style="padding-left: 0px;font-size: 20px;">
                                                    You are an..
                                                </label>
                                            </div>
                                            <div class="col-md-2 col-sm-12">
                                                <label class="radio-inline" style="font-size: 20px;">
                                                    <i v-if="signInForm.type != 'entity' " class="fa fa-circle unchecked"></i><i v-if="signInForm.type == 'entity' " class="fa fa-circle-o checked"></i>
                                                    <input v-show="false" type="radio" name="type" v-model="signInForm.type" value="entity" />  {{ $t('entity')}}
                                                </label>
                                            </div>
                                            <div class="col-md-2 col-sm-12">
                                                <label class="radio-inline" style="font-size: 20px;" >
                                                    <i v-if="signInForm.type != 'individual' " class="fa fa-circle unchecked"></i><i v-if="signInForm.type == 'individual' "  class="fa fa-circle-o checked"></i>
                                                    <input v-show="false" type="radio" name="type" v-model="signInForm.type" value="individual">  {{ $t('individual') }}
                                                </label>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <hr class="mt-5">
                                <div class="form-row" v-if="signInForm.type == 'entity' ">
                                    <div class="col-md-12 form-group b-color ">
                                        <label for="Entity Name" class="aesteric-label">Entity Name  </label>
                                        <input type="text" v-model="signInForm.entity_name" name="entity_name" class="form-control gray-input " placeholder="Entity Name" autocomplete="off">
                                    </div>
                                    <div class="col-md-6 form-group b-color">
                                        <label for="CR Number" class="aesteric-label">CR Number </label>
                                        <input type="text" v-model="signInForm.cr_number" name="cr_number" class="form-control gray-input" placeholder="CR Number" autocomplete="off">
                                    </div>
                                    <div class="col-md-6 form-group b-color">
                                        <label for="Website Url" class="aesteric-label">Website Url </label>
                                        <input type="text" v-model="signInForm.website_url" name="website_url" class="form-control gray-input" placeholder="Website Url" autocomplete="off">
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group text-left b-color">
                                            <label class="frst_nm_txt aesteric-label">Contact Name</label>
                                            <input type="text" v-model="signInForm.first_name" name="first_name" class="form-control gray-input frst_nm_plc" placeholder="First Name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group text-left ">
                                            <label class="last_nm_txt aesteric-label" >Last Name </label>
                                            <input type="text" v-model="signInForm.last_name" name="last_name" class="form-control gray-input last_nm_plc" placeholder="Last Name" style="
                                                                margin-top: 4.5px;">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group text-left b-color">
                                            <label class="aesteric-label">Email Address</label>
                                            <input type="text" v-model="signInForm.email" name="email" class="form-control gray-input" placeholder="Email Address" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group intl_input text-left b-color">
                                            <label class="aesteric-label">Contact Number</label>
                                            <phone-mask-input
                                                v-model="signInForm.phone_number"
                                                autoDetectCountry
                                                showFlag
                                                classs="form-control gray-input"
                                                inputClass="phone-input-country-wise"
                                                flagClass="flag-example"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group text-left b-color">
                                            <label class="aesteric-label">Password </label>  <span class="text-danger"> &nbsp; &nbsp;  (Minimum 6 Characters)</span>
                                            <input autocomplete="off" type="password" v-model="signInForm.password" id="password" name="password" class="form-control gray-input" placeholder="New Password">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group text-left b-color">
                                            <label class="aesteric-label">Confirm Password</label>
                                            <input autocomplete="off" type="password" v-model="signInForm.confirm_password" name="confirm_password" class="form-control gray-input" placeholder="Confirm New Password">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row" v-if="signInForm.type == 'individual' ">
                                    <div class="col-sm-6">
                                        <div class="form-group text-left b-color">
                                            <label  class=" frst_nm_txt aesteric-label">Contact Name</label>
                                            <input type="text" v-model="signInForm.first_name" name="first_name" class="form-control gray-input frst_nm_plc" placeholder="First Name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group text-left ">
                                            <label class="last_nm_txt aesteric-label">Last Name </label>
                                            <input type="text" v-model="signInForm.last_name" name="last_name" class="form-control gray-input last_nm_plc" placeholder="Last Name" style="
                                                                margin-top: 4.5px;">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group text-left b-color" style="padding-right: 0 !important;">
                                            <label class="  aesteric-label">Nationality</label>
                                            <select v-model="signInForm.nationality" class="form-control gray-input selectFeild" id="countries">
                                                <option value="Kuwait">Kuwait</option>
                                                <option value="Saudi Arabia">Saudi Arabia</option>
                                                <option value="Jordan">Jordan</option>
                                                <option value="Qatar">Qatar</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group text-left  b-color" style="padding-left: 0 !important;">
                                            <label class="  aesteric-label">Gender</label>
                                            <Select v-model="signInForm.gender" class="form-control gray-input selectFeild" id="gender">
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </Select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group text-left b-color ">
                                            <label for="birthday" class="  aesteric-label">Date of Birth</label>
                                            <input v-model="signInForm.date_of_birth" class="form-control gray-input" type="date" id="birthday" name="birthday">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group text-left b-color ">
                                            <label for="identiification_type" class=" aesteric-label">Identification type</label>
                                            <select  v-model="signInForm.identification_type" name="identiification_type" class="form-control input_styleselectFeild gray-input"
                                                    id="identiification_type">
                                                <option value="national_id">National Id</option>
                                                <option value="passport">Passport</option>
                                                <option value="residential_Id">Residential Id</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group text-left b-color ">
                                            <label for="Identification" class="aesteric-label">Identification Number</label>
                                            <input v-model="signInForm.identification_number" class="form-control gray-input" type="number" id="Identification" name="Identification">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group text-left b-color">
                                            <label class="  aesteric-label">Email Address</label>
                                            <input type="text" v-model="signInForm.email" name="email" class="form-control gray-input" placeholder="Email Address" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group intl_input text-left b-color">
                                            <label class="  aesteric-label">Contact Number</label>
                                            <phone-mask-input
                                                v-model="signInForm.phone_number"
                                                autoDetectCountry
                                                showFlag
                                                classs="form-control gray-input"
                                                inputClass="phone-input-country-wise"
                                                flagClass="flag-example"
                                            />
<!--                                            <input autocomplete="off" v-model="signInForm.phone_number" type="tel" name="phone_number" class="form-control gray-input" placeholder="Contact Number" value="+966"  id="phone">-->
<!--                                            <input v-model="signInForm.country_code" type="hidden" class="form-control gray-input" name="country_code" id="country_code" value="966">-->
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group text-left b-color">
                                            <label class="aesteric-label">Password</label> <span class="text-danger"> &nbsp; &nbsp;  (Minimum 6 Characters)</span>
                                            <input autocomplete="off" type="password" v-model="signInForm.password" id="password" name="password" class="form-control gray-input" placeholder="New Password">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group text-left b-color">
                                            <label class="aesteric-label">Confirm Password</label>
                                            <input autocomplete="off" type="password" v-model="signInForm.confirm_password" name="confirm_password" class="form-control gray-input" placeholder="Confirm New Password">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-4">
                                    <div class="custom-control custom-checkbox text-right">
                                        <input type="checkbox" v-model="signInForm.terms_conditions" class="custom-control-input" id="customCheck_nw" name="terms_conditions">
                                        <label class="custom-control-label b-color" for="customCheck_nw">I agree to the <a @click="route('/')" class="ter_links" target="_blank"> Terms & Conditions.</a></label>
                                    </div>
                                    <!-- <label class="error" for="terms_conditions">Please agree terms & conditions</label> -->
                                    <span class="error" id="terms_conditions_id"></span>
                                </div>
                                <div class="form-group text-right">
                                    <button class="btn btn_theme loginSignupBtns usr_form" :disabled="!signInForm.terms_conditions" style="min-width: 100px" @click="signUp" >Next</button>
                                </div>


                            </div>
                            <div class="col-md-4 h-100 ">
                                <div class="rgt_info text-center  h-100 justify-content-center align-items-center">
                                    <h4 class="alrdy b-color">Already have an account?</h4>
                                    <br>
                                    <a @click="loginModal" class="btn btn_theme loginSignupBtns text-center" style="width: 40%; margin: 0px 30%;"><span> Sign In</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <login-modal></login-modal>
        <register-modal></register-modal>


    </div>



</template>

            <script>
    // import {EventBus} from "../../eventbus";
    import BaseComponent from "../../components/base/BaseComponent";
    import PhoneMaskInput from  "vue-phone-mask-input";

    export default {
        name: "SignInPageComponent",
        extends: BaseComponent,
        data() {
            return {
                signInForm: {
                    type: "individual",
                    entity_name: "",
                    cr_number: "",
                    website_url: "",
                    country_code: "",
                    phone_number: "+",
                    password: "",
                    confirm_password: "",
                    nationality: "Kuwait",
                    gender: "male",
                    date_of_birth: "",
                    identification_type: "national_id",
                    identification_number: "",
                    name: "",
                    first_name: "",
                    last_name: "",
                    email: "",
                    terms_conditions: false,
                },
            }
        },

        mounted() {

        },

        methods: {

            async signIn() {
                console.log(this.signInForm);
                let res = await this.network().signInUser(this.signInForm);
                this.processRequest(res)
            },
            async signUp() {
                console.log('Sign in',this.signInForm);
                let name = this.signInForm.first_name + " " + this.signInForm.last_name;
                this.signInForm.name = name

                try{
                    console.log('Sign in: ', this.signInForm)
                    let res = await this.network().signInUser(this.signInForm);
                    console.log({res})
                    await this.processRequest(res);
                    this.verificationModal();

                }catch(e){

                    this.utility().presentFailureToast(e.message)
                }


            },

            async logIn() {

                // console.log(this.loginForm);
                // let res = await this.network().logInUser(this.loginForm);
                // this.processRequest(res)
            },

             processRequest(res){
                return  new Promise(async (resolve) => {
                    var user = res.user;
                    user.token = res.token;
                    console.log(user);
                    await this.sqlite().setUserInDatabase(user);
                    // point to taken
                    this.route('/profile');
                });

            },
            loginModal()
            {
                $('#login_modal').modal('show');
            },
            verificationModal()
            {
                $('#verification_code').modal('show');
            },

        },
    }
    </script>

    <style scoped>
        @import "SignInPageComponent.css";
    </style>
