.button_nex_prev .btn {
    margin: 20px 0 0;
}

.font-changes{
    font-size: 20px;
    font-weight: normal;
}
label > input[type="radio"]:checked + * {
    color: teal;
}

.form-group {
    padding: 0px 20px !important;
}

.aesteric-label:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:0px;
}

.unchecked{
    color: rgb(228, 229, 230);
}
.checked{
    color: rgb(216, 36, 53);
}

.center {
    margin: 0 auto;
    width: 500px;
    padding: 20px;
    color: white;
}

.loginSignupBtns{
    color: white;
    background: rgb(192,32,47);
}
