.sec8 {
    background-color: #D3152B;
    background-repeat: no-repeat;
    color: white;
    padding: 40px;
}

section {
    padding: 20px 0px 0px 0px;
    position: relative;
}
.container-fluid {
    padding-right: 60px !important;
    padding-left: 60px !important;
}
