.custom_container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 25px;
}

.wrap_app .col-sm-7 .img-fluid {
    padding: 40px 70px;
}

.aps_right h1.text-left {
    font-weight: 600;
    font-size: 23px;
    margin: 0 0 30px;
}

.para_app p {
    margin-bottom: 30px;
}
