<template>
    <div class="modal fade" id="change_password_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="">
                <div class="modal-body" >
                    <div class="mb-4">
                        <h6 class="b-color float-left"> <b> Change Password </b> </h6>
                        <button type="button" class="close float-right" data-dismiss="modal"> <span class=" text-danger">&times;</span> </button>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="current-password-input">Current Password</label>
                        <div class="input-group gray-input">
                            <input class="form-control py-2 border-right-0 border gray-input" v-model="old_password" type="password" value="" id="current-password-input">
                            <span class="input-group-append ">
                                <div class="input-group-text bg-transparent"><i class="fa fa-eye   b-color" @click="showPassword('current-password-input')"></i></div>
                            </span>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="new-password-input">New Password</label>
                        <div class="input-group gray-input">
                            <input class="form-control py-2 border-right-0 border gray-input" v-model="new_password" type="password" value="" id="new-password-input">
                            <span class="input-group-append">
                                <div class="input-group-text bg-transparent"><i class="fa fa-eye b-color" @click="showPassword('new-password-input')"></i></div>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirm-password-input">Confirm New Password</label>
                        <div class="input-group gray-input">
                            <input class="form-control py-2 border-right-0 border gray-input" v-model="confirm_password" type="password" value="" id="confirm-password-input">
                            <span class="input-group-append">
                                <div class="input-group-text bg-transparent"><i class="fa fa-eye b-color" @click="showPassword('confirm-password-input')"></i></div>
                            </span>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center text-center">
                        <div class="mt-4">
                            <button class="btn btn-danger"><span style="font-size: 18px;" @click="updatePassword">Update Password</span></button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</template>

<script>
import BaseComponent from "../../base/BaseComponent";

export default {
    name: "ChangePasswordModal",
    extends: BaseComponent,
    data(){
        return {
            old_password: "",
            new_password: "",
            confirm_password: ""
        }
    },
    mounted() {
        old_password = "",
        new_password = "",
        confirm_password = ""
    },
    methods: {
        showPassword(id) {
            var x = document.getElementById(id);
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        },
        async updatePassword(){

            let data = {
                old_password: this.old_password,
                new_password: this.new_password,
                confirm_password: this.confirm_password
            }

            try {
                let res = await this.network().sendUpdatePassword(data);
                if(res.bool == false){
                    this.utility().presentFailureToast(res.message)
                }

                this.utility().presentSuccessToast(res.message)

            }catch (e) {
                this.utility().presentFailureToast(e.message)
            }

            $('#change_password_modal').modal('hide');
        }


    }
}
</script>

<style scoped>
.button_nex_prev .btn {
    margin: 20px 0 0;
}

.btn.btn_theme {
    position: relative;
    border: none;
    background: transparent;
    padding: 8px 30px;
    display: inline-block;
    color: #D3152B;
    /* width: 100%; */
    border: 2px solid #D3152B;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1.7rem;
    outline: 0;
    padding: 15px;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}
input:focus{
    outline: none;
}


</style>
