<template>

	<!-- Login Modal -->
	<div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content circular-padding">
				<div class="modal-body ">

					<button type="button" class="close" data-dismiss="modal" @click="forget_password = false"><i class="fa fa-times-circle-o dismiss-button" aria-hidden="true"></i></button>
					<div class="text-center">
						<p class="wl-back color-blue" v-if="!forget_password">Welcome Back!</p>
						<h4 class="bold red-heading color-red">{{ forget_password ? 'Forget Password' : 'Sign in' }}</h4>
						<p class="wl-subheading color-blue">
							Don't have an account? <a class="color-red" @click="signUpModal">Sign Up</a> for Buildmart
						</p>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group text-left">
								<label class="color-blue">Email / Contact Number</label>
								<input type="text" :disabled="code_received || new_password" v-model="loginForm.email" name="email" class="gray-input form-control inputlog" placeholder="bac">
							</div>
						</div>
					</div>
					<div class="row" v-if="!forget_password">
						<div class="col-sm-12">
							<div class="form-group text-left">
								<label class="color-blue">Password</label>
								<input type="password" v-model="loginForm.password" name="password" class="gray-input form-control inputlog" placeholder="">
							</div>
						</div>
					</div>
					<div class="row sub-bottom-line" v-if="!forget_password">
						<div class="col-sm-6">
							<div class="form-group text-left">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="gray-input small-checkbox custom-control-input"
										id="customCheck" name="remember_me">
									<label class="custom-control-label" for="customCheck">Remember me</label>
								</div>
							</div>
						</div>
						<div class="col-sm-6 text-right" v-if="!forget_password">
							<a href="#" @click="forget_password = !forget_password" class="underline color-red" data-toggle="modal"
								data-target="#for_pwd">Forgot Password?</a>
						</div>
					</div>
                    <div v-if="new_password">
                        <div class="text-center">
                            <h2 class="o-color">
                                New Password
                            </h2>
                        </div>
                        <div class="row" >
                            <div class="col-sm-12">
                                <div class="form-group text-left">
                                    <label class="color-blue">New Password</label>
                                    <input type="password" v-model="add_new_password" name="password" class="gray-input form-control inputlog" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pad-30-30 " v-if="code_received">
                        <div class="text-center">
                            <h2 class="o-color">
                                Verification Code
                            </h2>
                            <h6 class="b-color"> Please enter the code that you received <br> on your registered </h6>
                        </div>
                        <div class="row d-flex justify-content-center mt-4 mb-4">
                            <div class="col-md-12">
                                <div  style="display: flex; justify-content: center">
                                    <v-otp-input
                                        ref="otpInput1"
                                        input-classes="otp-input"
                                        separator=""
                                        :num-inputs="6"
                                        :should-auto-focus="true"
                                        input-type="number"
                                        @on-change="handleOnChange"
                                        @on-complete="handleOnComplete"
                                    />
                                </div>

                            </div>
                        </div>
                        <div class="text-center">
                            <h6 class="b-color"> Submit the code to verify  </h6>
                        </div>

                    </div>
					<div class="form-group text-center">
						<button class="btn btn_nex login_sub_btn btn-danger" @click="logIn" href="javascript:;">{{ forget_password ? 'Send' : 'Sign In' }}</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</template>

<script>
    import BaseComponent from '../../base/BaseComponent.vue';
    import {EventBus} from "../../base/event-bus";
    export default {
        name: "LoginModal",
        extends: BaseComponent,
        data() {
            return {
                loginForm: {
                    email: "",
                    password: ""
                },
                remember_me: 0,
                forget_password: false,
                code_received: false,
                new_password: false,
                add_new_password: ""



            }
        },

        mounted() {
            this.remember_me =  0;
            this.forget_password = false;
            this.code_received = false;
            this.new_password = false;
            this.add_new_password = "";
        },

        methods: {

            async logIn() {

                try {
                    if(!this.forget_password){
                        var res = await this.network().logInUser(this.loginForm);
                        this.processRequest(res)
                    }
                    else if(this.code_received){
                        var res = await this.network().verifyForgetPassword(this.loginForm)
                        if(res.email_sent){
                            this.code_received = true
                        }
                    }
                    else if(this.new_password){
                        let obj = {
                            email: this.loginForm.email,
                            password: this.add_new_password
                        }
                        var res = await this.network().newPassword(obj)
                        this.forget_password = false
                        this.code_received = false,
                        this.new_password = false,
                        this.add_new_password = ""
                        this.utility().presentSuccessToast("Password updated");
                        $('#login_modal').modal('hide');
                    }
                    else{
                        var res = await this.network().forgetPassword(this.loginForm)
                        if(res.email_sent){
                            this.code_received = res.code
                        }
                    }
                }catch (e) {
                    this.utility().presentFailureToast(e.message)
                }


            },

            processRequest(res){
                return  new Promise(async (resolve) => {
                    var user = res.user;
                    user.token = res.token;
                    console.log(user);
                    await this.sqlite().setUserInDatabase(user);
                    // point to taken
                    this.route('/profile');
                });

            },

            signUpModal() {

                this.route('/sign-in');
                //$('.modal-backdrop').hide()
                $('#login_modal').modal('hide');
                // $('#login_modal').one('hidden.bs.modal', function(e) {
                //     // this handler is detached after it has run once
                //     console.log("pointer")
                //     EventBus.
                // });

            },

            openForgetPassword(){
                $('#login_modal').modal('hide')
            },

            async handleOnComplete(value) {
                try {

                    if(value != this.code_received){
                        this.utility().presentFailureToast("Mismatch Code")
                        this.forget_password = false;
                        this.code_received = false;
                        $('#login_modal').modal('hide');
                    }else{
                        this.code_received = false;
                        this.new_password = true;
                    }

                }catch (e) {
                    this.utility().presentFailureToast(e.message)
                }
            },

            handleOnChange(value) {
                console.log("OTP changed: ", value);
            },


        },
    }
</script>

<style scoped>
    @import "LoginModal.css";
</style>
