.circular-padding {
    /* max-width: 400px; */
    /* border: 1px solid black; */
    border-radius: 15px !important;
    padding: 25px !important;
}

.dismiss-button {
    color: red !important;
    border-radius: 25px;
    position: absolute;
    right: 25px;
    font-size: 22px;
}

.wl-back {
    margin-bottom: 0;
}

.wl-subheading {
    font-size: 11px !important;
}

.sub-bottom-line {
    font-size: 14px;
}

.small-checkbox {
    width: 9px;
    height: 9px;
}

.btn_nex {
    width: 150px;
}
