<template>
    <div class="">
        <header-second></header-second>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-12 py-5">
                    <ul class="profile-option-list">
                        <li class="bg-transparent border-0 text-center">
                            <img src="frontend/img/profile-placeholder-small.png" style="width:100%;">
                        </li>

                        <li class="list-group-item">
                            <label for="" class="member_id_heading">Membership ID: <span class="Memberid">BM-EU-000059</span></label>
                        </li>
                        <!-- Using modifiers -->
                        <li v-b-toggle.profile class="list-group-item w-100 side_menu_style">
                            <i class="fa fa-user-circle-o icons_style" aria-hidden="true"></i>&nbsp;&nbsp; Profile
                        </li>
                        <!-- Using value -->
                        <li v-b-toggle="'subscription'" class=" list-group-item w-100 side_menu_style">
                            <i class="fa fa-credit-card icons_style" aria-hidden="true"></i>&nbsp;&nbsp; Subscription
                        </li>
                        <!-- Using value -->
                        <li v-b-toggle="'logout'" class=" list-group-item w-100 side_menu_style" @click="logoutUser">
                            <i class="fa fa-sign-out icons_style" aria-hidden="true"></i>&nbsp;&nbsp; Logout
                        </li>
                    </ul>
                </div>
                <div class="col-md-9 col-sm-12 py-3">
                    <div class="accordion" role="tablist">
                        <b-card no-body class="mb-1">
                            <b-collapse id="profile" visible accordion="my-accordion" role="tabpanel">
                                <user-profile></user-profile>
                            </b-collapse>
                        </b-card>
                        <b-card no-body class="mb-1">
                            <b-collapse id="subscription" accordion="my-accordion" role="tabpanel">
                                <b-card-body>
                                    <!-- <subscription-page v-if="!isUserSubscribed"></subscription-page>
                                    <div v-if="isUserSubscribed">You have been subscribed to {{subscription.title}}
                                        <br>
                                        <a v-if="isUserSubscribedOwner" v-bind:href="getCompanyAdminUrl()">
                                            Click here to add users in your account
                                        </a>

                                    </div> -->
                                </b-card-body>
                            </b-collapse>
                        </b-card>
                    </div>
                </div>
            </div>
        </div>

        <register-modal></register-modal>

    </div>

</template>

<script>
    import BaseComponent from "../../components/base/BaseComponent";
    import HeaderSecond from '../../components/header/HeaderSecond/HeaderSecond.vue';

    export default {
        components: {
            HeaderSecond
        },
        name: "ProfilePageComponent",
        extends: BaseComponent,

        data() {
            return {
                isUserSubscribed: false,

            }
        },
        methods: {


            async logoutUser() {
                await this.sqlite().setLogout();
                location.reload();
            },


        },
        created() {

        },


    }
</script>

<style>
    .profile-option-list{
        max-width: 330px;
        float: right;
    }
    .line_break {
        width: 12rem;
    }

    .side_menu_style {
        border: 0 !important;
        background: transparent !important;
        color: #212d7c !important;
        font-size: 18px !important;
        height: 52px;
    }

    .member_id_heading {
        border: 0 !important;
        background: transparent !important;
        color: red !important;
        font-size: 14px !important;
        font-weight: 600;
    }

    .Memberid {
        border: 0 !important;
        background: transparent !important;
        color: #212d7c !important;
        font-size: 14px !important;
        font-weight: 600;
    }

    .icons_style {
        float: left;
        font-size: 24px !important;
    }
</style>
