section {
    padding: 20px 0px 0px 0px;
    position: relative;
}


.container-fluid {
    padding-right: 60px !important;
    padding-left: 60px !important;
}

.section-head h2, .section-head h3, .section-head h4 {
    font-weight: bold;
}

.section-head a {
    color: #D3152B !important;
    font-size: small !important;
}

.col-md-c-3 {
    width: 25%;
}

.card-sec3 {
    border: 1px solid white;
}

.card {
    box-shadow: none !important;
    border: 1px solid rgb(231, 231, 231);
    transition: .2s;
}

.card-sec3 img {
    margin-top: -1px;
}
.card-img-top {
    margin: auto !important;
}

.card-sec3 .card-body {
    padding: 10px;
}

.card-sec3 small {
    color: #cd452f;
}

.card-sec3 .card-footer {
    background-color: #D3152B;
    color: white;
    padding: 10px;
    height: 100%;
}
