<template>
    <div>

        <div class="container-fluid my-5">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="b-color ">Choose a Subscription Plan</h3>
                </div>
            </div>
        </div>

<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-md-4 subscription-sale1">-->
<!--                    <span class="badge badge-danger">30% off on yearly subscription</span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4" v-for="item of packages" style="margin-bottom: 3%;">
                    <ul class="price-supscription">
                        <h3 class="text-center b-color my-3">{{item.title_en}}</h3>
                        <center>
                            <div class="border-basic" :style="{'background-color': item.color}"></div>
                        </center>
                        <br>
                        <div contenteditable="false" class="pack_disc"
                             v-html="item.description_en">
                        </div>
                        <hr>
                        <li class="supscription-check" v-for="price of item.prices">
                            <input type="radio" id="price.id" v-model="price_selection" :value="price.id">
                            <label for="male">{{price.price}} <small style="font-size: 14px;">{{price.price_text_en}}</small></label>
                        </li>
                        <li class="supscription-check" >
                            <div v-html="item.subscription_prices_en">
                            </div>

                        </li>
                        <li class="text-center btn-li-sup">
                            <a href="#" class="btn btn-sups"> Get this plan</a>
                        </li>
                    </ul>
                </div>


            </div>
        </div>

        <div class="container page_numbers">
            <div class="row">
                <div class="col-6">
                    <button class="btn btn_theme" @click="gotoStep(1)"><span>Back</span></button>
                </div>
                <div class="col-6">
                    <button class="btn btn_theme pull-right" @click="gotoStep(3)"><span>Next</span></button>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import BaseComponent from "../../components/base/BaseComponent";

    export default {
        name: "SubscriptionPackages",
        extends: BaseComponent,
        data(){
            return {
                packages: [],
                price_selection: -1,
            }
        },
        methods: {

            async getPackages(){
                let packages = await this.network().getPackages();
                console.log("packages", packages);
                this.packages = packages;
            },
            gotoStep(number){
                this.$emit('goto-step', number);
            }




        },
        created() {
            this.getPackages();
        },
        mounted() {

        }
    }
</script>

<style scoped>
    @import "SubscriptionPlanComponent.css";

    .columns-supscription {
        float: left;
        width: 25.3%;
        padding: 8px;
    }

    .price-supscription {
        list-style-type: none;
        border: 1px solid #eee;
        margin: 0;
        padding: 0;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        border-radius: 20px;
        width: 90%;
        background-color: #f5f5f5;
    }

    .border-basic{
        height: 4px;
        width: 60%;
        border-radius: 20px;
    }


    .price-supscription:hover {
        box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
    }

    .price-supscription .header {
        background-color: #111;
        color: white;
        font-size: 25px;
    }

    .price-supscription li i{
        padding: 5px 10px 5px 30px;
        text-align: left;
    }
    .price-supscription li.supscription-check
    {
        padding: 0px 10px 0px 30px;
        text-align: left;
    }
    .price-supscription .btn-li-sup{
        padding: 20px 5px;
    }
    .price-supscription .grey {
        background-color: #eee;
        font-size: 20px;
    }
    .pack_disc >>> .supscription-check {
        color: green !important;
        font-size: 24px !important;
        padding-right: 15px;
    }
    .pack_disc >>> .supscription-check label{
        font-size: 18px !important;
        color: #252772;
    }
    .pack_disc >>> .supscription-check input{
        margin-right: 20px !important;
    }
    .pack_disc >>> .supscription-close {
        color: #d3152b !important;
        font-size: 24px !important;
        padding-right: 15px;
    }
    li.suscription-input {
        padding: 0px;
        text-align: center;

    }
    .btn-sups{
        border: 1px solid #252772;
        background-color: #252772 !important;
        color: white;
    }
    .btn-sups:hover{
        background-color: #d3152b !important;
        color: white !important;
    }
    .container .subscription-sale1  span{
        padding: 10px;
        background-color: #d3152b;
        text-align: right;
        margin-left: 58px;
        border-radius: 5px;
        position: absolute;
        margin-top: -27px;
        padding-bottom: 25px;
    }
    .container .subscription-sale5  span{
        padding: 10px;
        background-color: #d3152b;
        text-align: right;
        margin-left: 293px;
        border-radius: 5px;
        position: absolute;
        margin-top: -27px;
        padding-bottom: 25px;
    }
    .container .subscription-sale6  span{
        padding: 10px;
        background-color: #d3152b;
        text-align: right;
        margin-left: 363px;
        border-radius: 5px;
        position: absolute;
        margin-top: -27px;
        padding-bottom: 25px;
    }
    .pack_disc{
        margin-left: 9%;
        font-size: 19px;
        font-weight: 300;
    }
    @media only screen and (max-width: 600px) {
        .columns-supscription {
            width: 100%;
        }
    }
</style>
