<template>
<!--    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->

    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-top: 5%;">
                <div class="dropdown">
                    <button class="btn btn-danger address_btn form-control border_css" type="button" data-toggle="dropdown">Add Address
                        <i class="fa fa-caret-down down_arrow_btn" aria-hidden="true"></i></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JavaScript</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top: 3%;">
                <div class="">
                    <label >Address name <sup class="text-danger">*</sup></label>
                    <input type="text" class="form-control input_background border_css" placeholder="Give a name for your address to make it easier for you to recognize it later.">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin-top: 2%;">
                <div class="dropdown">
                    <label >Address type <sup class="text-danger">*</sup></label>
                    <button class="btn form-control address_type_btn input_background border_css" type="button" data-toggle="dropdown">Store
                        <i class="fa fa-caret-down down_arrow_btn" aria-hidden="true"></i></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JavaScript</a></li>
                    </ul>
                </div>
                <div class="row" style="margin-top: 2%;">
                    <div class="col-md-4">
                        <div>
                            <label >Building number</label>
                            <input type="text" class="form-control input_background border_css">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                                <label >Floor number</label>
                            <input type="text" class="form-control input_background border_css">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label >Unit number</label>
                            <input type="text" class="form-control input_background border_css">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <subscription-map-address :center='center'
                                          :zoom='12'
                                          style='width:100%;  height: 400px;'   ></subscription-map-address>
            </div>
        </div>
        <!-- <div class="row">

        </div> -->





    </div>
</template>

<script>
    import BaseComponent from "../../components/base/BaseComponent";

    export default {
        name: "SubscriptionAddresses",
        extends: BaseComponent,
        props: ['data'],

        data(){
            return {
                subscriptionInformation: this.data,
                center: { lat: 45.508, lng: -73.587 },

            }
        }
    }
</script>

<style scoped>
    .address_btn{
        text-align: left;
        font-size: 18px;
        font-weight: 600;
    }
    .address_type_btn{
        text-align: left;
        color: #2C3782;
    }
    .down_arrow_btn{
        float: right;
    }
    label{
        color: #2C3782;
        font-weight: 600;
        font-size: 15px;
        font-family: system-ui;
    }
    .input_background{
        background: #E4E5E6;
    }
    .input_background::placeholder {
        color: white;
    }
    .border_css{
        border-radius:0;
        border: 0;
    }
</style>
