<template>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="b-color my-2">Entity Details</h1>
                <h5 class="b-color mt-3">Service provider category</h5>
            </div>
        </div>
        <div class="mb-5 d-flex capitalize">

            <div class="mr-3">
                <label class="b-color "><sup class="text-danger">*</sup></label>
                <select class="form-control input_style selectFeild" id="identification-id" v-model="selected_role" @change="getRoleDIsplayName(selected_role)">
                    <option v-for="role in roles" :value="role.id" class="capitalize" > {{role.display_name}} </option>
                </select>
            </div>

            <div class="b-color mr-3 p-2" v-for="subrole in subroles">
                <label class="radio-inline" style="font-size: 20px;">
                    <i v-if=" selected_subrole != subrole.id " class="fa fa-circle unchecked"></i><i v-if="selected_subrole == subrole.id " class="fa fa-circle-o checked"></i>
                    <input v-show="false" type="radio" name="type" v-model="selected_subrole" @change="getRoleDIsplayName(selected_role)" :value="subrole.id" />  {{ subrole.display_name }}
                </label>
            </div>

            <hr>

        </div>
        <div class="row" >

            <div class="col-md-12 form-group b-color" v-if="showField('entity_name')">
                <label for="entity_name" class="b-color "><span id="entity_display_name">{{ selected_role_displayname }}</span> Name <sup class="text-danger">*</sup></label>
                <input type="text" name="entity_name" v-model="subscriptionInformation.entity_name" class="form-control input_style " value="">
            </div>
            <div class="col-md-6 form-group b-color" v-if="showField('cr_number')">
                <label class="b-color ">CR Number <sup class="text-danger">*</sup></label>
                <input type="text" name="cr_number" v-model="subscriptionInformation.cr_number" class="form-control input_style " value="">
            </div>
            <div class="col-md-6 form-group b-color"  v-if="showField('website_url')">
                <label class="b-color ">Website Url</label>
                <input type="text" name="website_url" v-model="subscriptionInformation.website_url" class="form-control input_style " value="">
            </div>
            <div class="col-md-6 form-group b-color" >
                <label class="b-color ">Contact Name <sup class="text-danger">*</sup></label>
                <input type="text" name="first_name" v-model="subscriptionInformation.first_name" class="form-control input_style " value="" placeholder="First Name">
            </div>
            <div class="col-md-6 form-group b-color">
                <label class="text-light ">.</label>
                <input type="text" name="last_name" v-model="subscriptionInformation.last_name" class="form-control input_style " value="" placeholder="Last Name">
            </div>

            <div class="col-md-3 form-group b-color " v-if="showField('nationality')">
                <label for="nationality" class="aesteric-label">Nationality </label>
                <select :disabled="!editable" v-model="subscriptionInformation.nationality" name="nationality" class="form-control input_style input_styleselectFeild"
                        id="countries">
                    <option value="Kuwait">Kuwait</option>
                    <option value="Saudi Arabia">Saudi Arabia</option>
                    <option value="Jordan">Jordan</option>
                    <option value="Qatar">Qatar</option>
                </select>
            </div>
            <div class="col-md-3 form-group b-color " v-if="showField('gender')">
                <label for="gender" class="aesteric-label">Gender </label>
                <select :disabled="!editable" v-model="subscriptionInformation.gender" name="gender" class="form-control input_style input_styleselectFeild">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>

            <div class="col-md-6 form-group text-left b-color " v-if="showField('date_of_birth')">
                <label for="date_of_birth" class="aesteric-label">Date of Birth</label>
                <input :disabled="!editable" v-model="subscriptionInformation.date_of_birth" name="date_of_birth" class="form-control input_style" type="date">
            </div>

            <div class="col-md-6 form-group text-left b-color " v-if="showField('identification_type')">
                <label for="identiification_type" class=" aesteric-label">Identification type</label>
                <select :disabled="!editable" v-model="subscriptionInformation.identification_type" name="identiification_type" class="form-control input_styleselectFeild input_style"
                        id="identiification_type">
                    <option value="national_id">National Id</option>
                    <option value="passport">Passport</option>
                    <option value="residential_Id">Residential Id</option>
                </select>
            </div>

            <div class="col-md-6 form-group text-left b-color " v-if="showField('identification_number')">
                <label class="aesteric-label">Identification Number</label>
                <input :disabled="!editable" v-model="subscriptionInformation.identification_number" class="form-control input_style" type="text">
            </div>


            <div class="col-md-6 form-group text-left b-color" v-if="user">
                <label class="aesteric-label">Email Adddress</label>
                <input type="text" v-model="subscriptionInformation.email" name="email" class="form-control gray-input" placeholder="Email Address" autocomplete="off">
            </div>
            <div class="col-md-6 form-group intl_input text-left b-color" v-if="user">
                <label class="aesteric-label">Contact Number</label>
                <phone-mask-input
                    v-model="subscriptionInformation.phone_number"
                    autoDetectCountry
                    showFlag
                    classs="form-control gray-input"
                    inputClass="phone-input-country-wise"
                    flagClass="flag-example"
                />
            </div>
            <div class="col-sm-6 form-group text-left b-color" v-if="user">
                <label class="aesteric-label">Password </label>  <span class="text-danger"> &nbsp; &nbsp;  (Minimum 6 Characters)</span>
                <input autocomplete="off" type="password" v-model="subscriptionInformation.password" id="password" name="password" class="form-control gray-input" placeholder="New Password">
            </div>
            <div class="col-sm-6 form-group text-left b-color" v-if="user">
                <label class="aesteric-label">Confirm Password</label>
                <input autocomplete="off" type="password" v-model="subscriptionInformation.confirm_password" name="confirm_password" class="form-control gray-input" placeholder="Confirm New Password">
            </div>
            <div class="col-md-12 form-group">
                <label class="b-color ">Type of services <sup class="text-danger">*</sup></label>
                <multiselect :searchable="true" :multiple="true" v-model="subscriptionInformation.type_of_services" :options="type_of_services" :close-on-select="true" :show-labels="false" placeholder="..." track-by="value" label="text"></multiselect>
            </div>
            <div class="col-md-12 form-group" v-if="showField('scope_of_work')">
                <label class="b-color ">Scope of Work <sup class="text-danger">*</sup></label>
                <multiselect :searchable="true" :multiple="true" v-model="subscriptionInformation.scope_of_work" :options="scope_of_work" :close-on-select="true" :show-labels="false" placeholder="..." track-by="value" label="text"></multiselect>
            </div>
            <div class="col-md-12 form-group">
                <label class="b-color ">Projectfields <sup class="text-danger">*</sup></label>
                <multiselect :searchable="true" :multiple="true" v-model="subscriptionInformation.project_fields" :options="project_fields" :close-on-select="true" :show-labels="false" placeholder="..." track-by="value" label="text"></multiselect>
            </div>
            <div class="col-md-6 form-group text-left b-color">
                <label class="aesteric-label">Years of Experience <span class="o-color">{{this.subscriptionInformation.years_of_experience}} years</span></label>
                <input type="range" min="5" max="100"  v-model="subscriptionInformation.years_of_experience" class="form-control rangeexp">
            </div>

        </div>

        <subscription-sections :data="subscriptionInformation"></subscription-sections>
        <subscription-addresses :data="subscriptionInformation"></subscription-addresses>

        <div class="row my-5">
            <div class="col-12 form-group mt-4">
                <div class="custom-control custom-checkbox text-right">
                    <input type="checkbox" v-model="subscriptionInformation.terms_conditions" class="custom-control-input" id="customCheck_nw" name="terms_conditions">
                    <label class="custom-control-label b-color" for="customCheck_nw">I agree to the <a @click="route('/')" class="ter_links" target="_blank"> Terms & Conditions.</a></label>
                </div>
                <!-- <label class="error" for="terms_conditions">Please agree terms & conditions</label> -->
                <span class="error" id="terms_conditions_id"></span>
            </div>
            <div class="col-12">
                <div class="form-group text-right">
                    <button class="btn btn_theme loginSignupBtns usr_form" :disabled="!subscriptionInformation.terms_conditions" style="min-width: 100px" @click="signUp" >Next</button>
                </div>
            </div>

        </div>







    </div>
</template>

<script>


    import SubscriptionPlanComponent from "./SubscriptionPlanComponent";
    import BaseComponent from "../../components/base/BaseComponent";

    export default {
        name: "SubscriptionInformation",
        extends: BaseComponent,
        data() {
            return {
                user: false,
                roles: [],
                subroles: [],
                selected_role: "",
                selected_subrole: "",
                selected_role_displayname: "",
                terms_conditions: false,
                type_of_services: [
                    {
                        text: "Service A",
                        value: "A"
                    },
                    {
                        text: "Service B",
                        value: "B"
                    },
                    {
                        text: "Service C",
                        value: "C"
                    }
                ],
                project_fields: [
                    {
                        text: "Project A",
                        value: "A"
                    },
                    {
                        text: "Project B",
                        value: "B"
                    },
                    {
                        text: "Project C",
                        value: "C"
                    }
                ],
                scope_of_work: [
                    {
                        text: "Suppy Only",
                        value: "A"
                    },
                    {
                        text: "Install Only",
                        value: "B"
                    },
                    {
                        text: "Supply and Install",
                        value: "C"
                    }
                ],
                subscriptionInformation: {
                    entity_name: "",
                    cr_number: "",
                    website_url: "",
                    first_name: "",
                    last_name: "",
                    email: "",
                    phone_number: "",
                    type_of_services: [],
                    scope_of_work: [],
                    project_fields: [],
                    years_of_experience: "",
                    terms_conditions: false,
                    introduction: "",
                    image: "",
                    gallery: [],
                    address: "",
                    addressType: "",
                    buildingNo: 0,
                    floorNo: 0,
                }
            }
        },
        methods: {
            async getActiveUser(){
                let userId = await this.sqlite().getActiveUserId();
                console.log({user})
                if(userId == null){
                    this.user = true;
                }

                console.log({userId})
            },
            async getROles(){
                let res = await this.network().getRoles()
                this.roles = res;
                console.log({res})
                this.subroles = this.roles[0]['childs'];

                this.selected_role = this.roles[0].id;
                this.selected_subrole = this.subroles[0].id;
                this.getRoleDIsplayName()

            },
            async roleUpdated(e){
                let v = e.target.value;
                // let role = this.roles.find( x => x.id == v);
                // this.subroles = role.childs
                // this.selected_subrole = this.subroles[0].id;
                // this.getRoleDIsplayName()
            },
            getRoleDIsplayName(selected_role){

                console.log(selected_role);
                var name = "";
                let role = this.roles.find( x => {
                    return x.id == this.selected_role;
                });

                let subrole = role.childs.find( x => {
                    return x.id == this.selected_subrole;
                });

                console.log(subrole);

                if(subrole){
                    name = subrole.diEstablishmentsplay_name == 'Establishment' ? subrole.display_name : role.display_name;
                }else{
                    name = role.display_name;
                }



                this.selected_role_displayname = name;


            },
            changeTypeOfServices(e){
                let v = e.target.value;
                console.log(v);
            },
            showField(label){

                switch (label) {
                    case 'entity_name':
                        return this.selected_subrole == 31;
                    break;
                    case 'cr_number':
                        return this.selected_subrole == 31;
                    break;
                    case 'website_url':
                        return this.selected_subrole == 31;
                    break;
                    case 'nationality':
                        return this.selected_subrole == 32;
                    break;
                    case 'gender':
                        return this.selected_subrole == 32;
                    break;
                    case 'date_of_birth':
                        return this.selected_subrole == 32;
                    break;
                    case 'identification_type':
                        return this.selected_subrole == 32;
                    break;
                    case 'identification_number':
                        return this.selected_subrole == 32;
                    break;
                    case 'scope_of_work':
                        return this.selected_role == 23;
                    break;

                    default:

                    break;

                }

            },
            signUp(){
                console.log('Signup info: ', this.subscriptionInformation);
                this.$emit('signup-form-completed', this.subscriptionInformation)
            }
        },
        mounted() {

        },
        created() {
            this.getROles();
            this.getActiveUser();
        }
    }
</script>

<style>
    @import "SubscriptionPlanComponent.css";
</style>
