.page_numbers {
    margin-top: 40px;
    margin-bottom: 40px;
}

.numb_pag li span:nth-child(1) {
    background: #212d7c;
    color: #e6e6e6;
    width: 50px;
    display: inline-block;
    height: 50px;
    border-radius: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
}

.numb_pag .nheading {
    font-size: 23px;
    color: #212d7c;
    font-weight: 500;
    margin-left: 10px;
}

.numb_pag li {
    position: relative;
}

.numb_pag li.active {
    color: #cc3f2f;
}

.numb_pag li.active span:nth-child(1) {
    background: #cc3f2f;
    color: #fff;
}

.numb_pag li::after {
    position: absolute;
    background: #cecece;
    content: "";
    width: 50px;
    right: -78px;
    top: 47%;
    height: 1px;
}

.numb_pag li:last-child::after {
    display: none;
}


label > input[type="radio"]:checked + * {
    color: teal;
}
.tab-content{
    position: relative;
    height: auto;
    width: auto;
    padding: 4px;
    z-index: 1;
}

.aesteric-label:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:0px;
}
