<template>

        <div class="container-fluid">
            <header-second></header-second>
            <line-item-header :title="'Become a service provider'"></line-item-header>
            <div class="custom_container">
                <div class="row">
                    <div class="col-12">
                        <div class="page_numbers">
                            <div class="container">
                                <ul class="numb_pag list-inline d-flex justify-content-around" type="none">
                                    <li class="list-inline-item bsns_dtl_li first_dot" v-bind:class="(step == 1) ? 'active':'' " ><span>1</span> <span class="nheading"> Entity Info </span></li>
                                    <li class="list-inline-item stor_subs_li second_dot" v-bind:class="(step == 2) ? 'active':'' "><span>2</span> <span class="nheading">Subscription Plan </span></li>
                                    <li class="list-inline-item mak_pymt_li third_dot" v-bind:class="(step == 3) ? 'active':'' "><span>3</span> <span class="nheading">Make Payment</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-9">
                                <subscription-information v-show="step == 1" v-on:signup-form-completed="getSubscriptioninformation($event)" ></subscription-information>
                            </div>
                            <div class="col-md-3">
                                place for Ad
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <subscription-packages v-show="step == 2" v-on:goto-step="gotoStep($event)"></subscription-packages>
                    </div>
                    <div class="col-12">
                        <subscription-payments v-show="step == 3" v-on:signup-form-completed="getSubscriptionpacakages($event)"></subscription-payments>
                    </div>
                </div>

            </div>

        </div>


</template>

<script>
import BaseComponent from "../../components/base/BaseComponent";
import SubscriptionPayments from "./SubscriptionPayments";

export default
{
    name: "SubscriptionPlanComponent",
    components: {SubscriptionPayments},
    extends: BaseComponent,
    data() {
        return {
            subscriptions: [],
            subscritionFormOutput: '',
            step: 1,
        };
    },

    methods:
    {
        getSubscriptioninformation($event){
            console.log($event);
            this.step = 2;
        },

        gotoStep($event){
            this.step = $event;
        }
    },

    mounted()
    {


        // this.getSubscriptionsPlan();
    },

};
</script>

<style scoped>
    @import "SubscriptionPlanComponent.css";
</style>
