<template>
    <div>

        <div class="container-fluid my-5">
            <div class="row">
                <div>
                    <h4 class="b-color">Choose your peferable Payment Method</h4>
                    <div class="text-center form-row">
                        <div class="form-check col-md-2">
                            <div class="paymentmethod-ch">
                                <img src="frontend/img/payment-03.png">
                                <h4 class="b-color">Pay via STC Pay</h4>
                            </div>
                            <br>
                            <input class="form-check-input" type="radio" name="paymentmethod" id="" value="" checked>
                        </div>
                        <div class="form-check col-md-2">
                            <div class="paymentmethod-ch">
                                <img src="frontend/img/payment-04.png">
                                <h4 class="b-color">Pay via Sadad</h4>
                            </div>
                            <br>
                            <input class="form-check-input" type="radio" name="paymentmethod" id="" value="">
                        </div>
                        <div class="form-check col-md-2">
                            <div class="paymentmethod-ch">
                                <img src="frontend/img/payment-06.png">
                                <h4 class="b-color">Pay via Bank Transfer</h4>
                            </div>
                            <br>
                            <input class="form-check-input" type="radio" name="paymentmethod" id="" value="">
                        </div>
                        <div class="form-check col-md-2">
                            <div class="paymentmethod-ch">
                                <img src="frontend/img/payment-00.png">
                                <h4 class="b-color">Pay via Credit Card</h4>
                            </div>
                            <br>
                            <input class="form-check-input" type="radio" name="paymentmethod" id="" value="">
                        </div>
                        <div class="form-check col-md-2">
                            <div class="paymentmethod-ch">
                                <img src="frontend/img/payment-08.png" alt="">
                                <h4 class="b-color">Pay via Apple Pay</h4>
                            </div>
                            <br>
                            <input class="form-check-input" type="radio" name="paymentmethod" id="" value="">
                        </div>
                        <div class="form-check col-md-2"></div>
                    </div>
                    <div class="text-center form-row">
                        <div class="form-check col-md-3"></div>
                    </div>
                </div>
                <br class="pc-br">
                <div class="mb-br">
                    <h4 class="b-color">Choose your Card</h4>
                    <div class="text-center form-row">
                        <div class="col-md-3">
                            <input class="card-payment" type="radio" name="cardPaymentFrom" id="cardDefault" checked>
                            <label for="cardDefault">
                                <img src="frontend/img/payment-01.png" alt="">
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input class="card-payment input-hidden" type="radio" name="cardPaymentFrom" id="card2">
                            <label for="card2">
                                <img src="frontend/img/payment-02.png" alt="">
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input class="card-payment input-hidden" type="radio" name="cardPaymentFrom" id="card3">
                            <label for="card3">
                                <img src="frontend/img/payment-002.png" alt="">
                            </label>
                        </div>
                        <div class="col-md-3">
                            <h3 class="addnew">
                                <a href="#">Add New Card <i class="fa fa-plus"></i></a>
                            </h3>
                        </div>
                    </div>
                </div>
<!--                <div class="pc-br">-->
<!--                    <h5 class="b-color">Choose your Card</h5>-->
<!--                    <br>-->
<!--                    <div id="myCards" class="carousel slide">-->
<!--                        <ol class="carousel-indicators pc-br">-->
<!--                            <li data-target="#myCards" data-slide-to="0" class="active"></li>-->
<!--                            <li data-target="#myCards" data-slide-to="1"></li>-->
<!--                            <li data-target="#myCards" data-slide-to="2"></li>-->
<!--                        </ol>-->
<!--                        <div class="carousel-inner pc-br" style="margin-bottom:10px">-->
<!--                            <div class="item active">-->
<!--                                <center>-->
<!--                                    <input class="card-payment" type="radio" name="cardPaymentFrom" id="cardDefault" checked>-->
<!--                                    <label for="cardDefault">-->
<!--                                        <img src="frontend/img/payment-01.png" alt="">-->
<!--                                    </label>-->
<!--                                </center>-->
<!--                            </div>-->

<!--                            <div class="item">-->
<!--                                <center>-->
<!--                                    <input class="card-payment" type="radio" name="cardPaymentFrom" id="card2" checked>-->
<!--                                    <label for="card2">-->
<!--                                        <img src="frontend/img/payment-02.png" alt="">-->
<!--                                    </label>-->
<!--                                </center>-->
<!--                            </div>-->

<!--                            <div class="item">-->
<!--                                <center>-->
<!--                                    <input class="card-payment" type="radio" name="cardPaymentFrom" id="card3" checked>-->
<!--                                    <label for="card3">-->
<!--                                        <img src="frontend/img/payment-002.png" alt="">-->
<!--                                    </label>-->
<!--                                </center>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <a class="left carousel-control pc-br" href="#myCards" data-slide="prev">-->
<!--                            <span class="glyphicon glyphicon-chevron-left" style="color:red"></span>-->
<!--                            <span class="sr-only">Previous</span>-->
<!--                        </a>-->
<!--                        <a class="right carousel-control pc-br" href="#myCards" data-slide="next">-->
<!--                            <span class="glyphicon glyphicon-chevron-right"></span>-->
<!--                            <span class="sr-only">Next</span>-->
<!--                        </a>-->
<!--                        <br>-->
<!--                    </div>-->
<!--                    <br>-->
<!--                    <div class="text-center">-->
<!--                        <br>-->
<!--                        <h3 class="addnew" style="font-size: 20px !important; padding: 7px; background-color:#D3152B">-->
<!--                            <a href="#" style="color:white !important;">Add New Card  <i class="fa fa-plus"></i></a>-->
<!--                        </h3>-->
<!--                    </div>-->
<!--                    <br>-->

<!--                </div>-->
            </div>

            <div class="container page_numbers">
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn_theme" @click="gotoStep(1)"><span>Back</span></button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn_theme pull-right" @click="gotoStep(3)"><span>Next</span></button>
                    </div>
                </div>
            </div>

<!--            <div class="row">-->
<!--                <div class="col-md-2 col-sm-4 col-xs-4">-->
<!--                    <h4 style="color:white">.</h4>-->
<!--                    <a href="#" class="btn btn_theme"><span>Back</span></a>-->
<!--                </div>-->
<!--                <div class="col-md-7 col-sm-4 col-xs-4"></div>-->
<!--                <div class="col-md-3 col-sm-4 col-xs-4 text-right">-->
<!--                    <input class="form-check-input" type="checkbox" value="" required-->
<!--                           style="margin: 15px -70.5%;">-->
<!--                    <h4 style="color:#252772; font-weight:400">I Agree to pay <strong style="font-size:19px">10,000 SR</strong></h4>-->
<!--                    <a href="#" class="btn btn_theme"><span>Subscripe</span></a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <br>
        <br>
    </div>
</template>

<script>
    export default {
        name: "SubscriptionPayments",
        methods: {
            async getPaymentMethods(){
                let meth = await this.network().getPaymentMethods()
                this.PaymentMethod = meth;
                console.log({meth})
            }
        },

    }
</script>

<style scoped>
    .proccess-active .proccess-circle-cart{
        background-color: #D3152B;
        width: 50px;
        height: 50px;
        padding: 6px 10px;
        border-radius: 50%;
        color: white;
        font-size: 26px;
    }
    .proccess-active .proccess-line{
        background-color: #D3152B;
        height: 2px;
        width: 40px;
        margin: 23px 5px 0px 5px;
    }
    .proccess-active .proccess-h{
        color: #D3152B;
        padding: 5px 0px 0px 5px;
    }
    .proccess-normal .proccess-circle-cart{
        background-color: #252772;
        width: 50px;
        height: 50px;
        padding: 6px 10px;
        border-radius: 50%;
        color: white;
        font-size: 26px;
    }
    .proccess-normal .proccess-line{
        background-color: #252772;
        height: 2px;
        width: 40px;
        margin: 23px 5px 0px 5px;
    }
    .proccess-normal .proccess-h{
        color: #252772;
        padding: 5px 0px 0px 5px;
    }
    .o-color, .o-color-s{
        color: #D3152B;
    }
    .b-color, .b-color-s{
        color: #252772;
    }
    .label-ocolor{
        background-color: #D3152B !important;
        color: white;
        border-radius: 0px !important;
    }
    i.b-color{
        font-size: 24px;
        padding: 28px 0px 0px 0px;
    }
    .cart-add-re{
        padding: 15px 0px 0px 0px !important;
    }
    .cart-view tr th,.cart-view tr td{
        text-align: center !important;
    }
    .btnCustom {
        border: 1px solid #d3152b;
        background-color: #d3152b !important;
        color: white;
    }
    .btnCustom:hover {
        background-color: #c01327 !important;
        color: white;
    }
    .comp-table{
        border: 1px solid #ccc;
    }
    .comp-table thead tr{
        border-top: 3px solid white !important;
        border-bottom: 3px solid white !important;
    }
    .comp-table thead tr th, .comp-table tbody tr td{
        text-align: center;
    }
    .checkinput-img{
        text-align: left !important;
    }
    tr td.tdcenter {
        padding: 45px 0px 0px 0px !important;
    }
    .a-tabs{
        font-size: 20px !important;
    }
    .tabsproduct li .active{
        color:#d3152b !important;
    }
    .tabsproduct>li.active>a, .tabsproduct>li.active>a:focus, .tabsproduct>li.active>a:hover{
        border-bottom-color: white !important;
    }
    h4 a{
        font-size: 15px;
    }
    .table-payment thead tr th, .table-payment tbody tr td{
        color: #252772;
        text-align: center;
        padding: 20px 0px;
    }
    .total-p-t{
        color: #D3152B !important;
        font-size: 18px !important;
    }
    .paymentmethod-ch{
        width: 100%;
    }
    .paymentmethod-ch img{
        width: 60%;
    }
    .addnew{
        padding: 75px 0px 0px 0px;
    }
    .addnew a{
        color: #D3152B !important;
        text-decoration: none;
    }
    .addnew a:hover{
        color: #D3152B;
    }
    .card-payment {
        position: absolute;
        left: -9999px;
    }
    input[type=radio].card-payment:checked + label>img {
        border: 2px solid #D3152B;
    }
    input[type=radio].card-payment + label>img {
        border: 1px solid rgb(112, 112, 112);
        width: 100%;
        transition: 500ms all;
    }
    @media(min-width: 769px){
        td.b-color, td.o-color{
            padding: 35px 0px 0px 0px !important;
        }
    }
    @media(max-width: 468px){
        .paymentmethod-ch{
            width: 65%;
        }
        .paymentmethod-ch img{
            width: 50%;
        }
        .carousel-indicators li{
            background-color: white !important;
            border:1px solid #747474 !important;
            width: 10px !important;
            height: 10px !important;
            border-radius: 50% !important;
            margin: 0px 5px;
        }
        .carousel-indicators li.active{
            border:1px solid #747474 !important;
            background-color: #747474 !important;
            height: 10px !important;
            margin: 0px 5px;
        }
        td.b-color, td.o-color{
            padding: 5px !important;
        }
        .modal-content table tr th, .modal-content table tr td{
            text-align: center;
        }
        .modal-content table tr th{
            font-size: 11px !important;
        }
        .modal-content table tr td{
            font-size: 10px !important;
        }
    }
</style>
