<template>
    <GmapMap
        :center='center'
        :zoom='12'
        style='width:100%;  height: 400px;'
    >

    </GmapMap>
</template>

<script>
    export default {
        name: "SubscriptionMapAddress",
        data() {
            return {
                center: { lat: 45.508, lng: -73.587 },
            }
        },
        mounted() {
            this.geolocate();
        },
        methods: {
            geolocate: function() {
                navigator.geolocation.getCurrentPosition(position => {
                    this.center = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    };
                });
            },
        },
    }
</script>

<style scoped>

</style>
