<template>

    <div class="">
        <div class="btn-group nav nav-pills" role="group" aria-label="Basic example">
            <div class="pets" id="tabs" v-for="pet in selectedFacilities" :value="pet.id">
                <button class="btn btn-outline-danger mr-1" @click="selectActive(pet.id)"   >
                    {{pet.name}}
                </button>
            </div>
            <div class="dropdown" style="background: lightgray">
                <button class="btn "  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    +
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a @click="addFacilities(pet.name)" v-for="pet in availableOptions" :value="pet.id" class="dropdown-item" >{{ pet.name }}</a>
                </div>
            </div>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-introduction" role="tabpanel" aria-labelledby="pills-introduction-tab">
                <div class="row">
                    <div class="col-12">
                        <textarea class="form-control" v-model="subscriptionInformation.introduction" id="exampleFormControlTextarea1" placeholder="Write your introduction with max. 10000 words" rows="5"></textarea>
                    </div>
                </div>
                
            </div>
            <div class="tab-pane fade" id="pills-Image" role="tabpanel" aria-labelledby="pills-Image-tab">
                <div class="row">
                    <div class="col-12">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-Gallery" role="tabpanel" aria-labelledby="pills-Gallery-tab">
                <div class="row">
                    <div class="col-12">
                        <img :src="'frontend/img/brand1.png'" class="rounded float-left" width="200" height="200" alt="...">
                        <img :src="'frontend/img/brand1.png'" class="rounded float-left" width="200" height="200" alt="...">
                    </div>
                </div>
            </div>            

        </div>

    </div>



</template>

<script>
    import BaseComponent from "../../components/base/BaseComponent";

    export default {
        name: "SubscriptionSections",
        extends: BaseComponent,
        props: ['data'],
        data(){
            return {
                subscriptionInformation: this.data,
                availableOptions : [
                    {
                        id: "pills-Image-tab",
                        href: "#pills-Image",
                        name: "Upload Image"
                    },
                    {
                        id: "pills-Gallery-tab",
                        href: "#pills-Gallery",
                        name: "Gallery"
                    },
                
                ],
                selectedFacilities: [
                    {
                        id: "pills-introduction-tab",
                        href: "#pills-introduction",
                        name: "Introduction"
                    },
                ],
            }
        },
        methods: {
            move(value, arrFrom, arrTo) {
                var index = arrFrom.findIndex(function(el) {
                    return el.name == value;
                });
                var item = arrFrom[index];
                console.log({item})
                arrFrom.splice(index, 1);
                arrTo.push(item);
                console.log({arrTo})
            },
            addFacilities(value) {
                console.log({value});
                this.move(value, this.availableOptions, this.selectedFacilities);
            },
            selectActive(value){
                if (value == 'pills-introduction-tab'){
                    console.log({value})
                    document.getElementById("pills-introduction").classList.add('tab-pane', 'fade', 'show', 'active');
                    document.getElementById("pills-Gallery").classList.remove('show', 'active');
                    document.getElementById("pills-Image").classList.remove('show', 'active');
                    document.getElementById("pills-Dummy").classList.remove('show', 'active');


                }
                if (value == 'pills-Gallery-tab'){
                    document.getElementById("pills-Gallery").classList.add('tab-pane', 'fade', 'show', 'active');
                    document.getElementById("pills-introduction").classList.remove('show', 'active');
                    document.getElementById("pills-Image").classList.remove('show', 'active');
                    document.getElementById("pills-Dummy").classList.remove('show', 'active');
                }
                if (value == 'pills-Image-tab'){
                    document.getElementById("pills-Image").classList.add('tab-pane', 'fade', 'show', 'active');
                    document.getElementById("pills-introduction").classList.remove('show', 'active');
                    document.getElementById("pills-Gallery").classList.remove('show', 'active');
                    document.getElementById("pills-Dummy").classList.remove('show', 'active');

                }
                if (value == 'pills-Dummy-tab'){
                    document.getElementById("pills-Dummy").classList.add('tab-pane', 'fade', 'show', 'active');
                    document.getElementById("pills-introduction").classList.remove('show', 'active');
                    document.getElementById("pills-Gallery").classList.remove('show', 'active');
                    document.getElementById("pills-Image").classList.remove('show', 'active');
                }
            },



        },
        mounted() {

        },
        created() {

        }
    }
</script>

<style scoped>

    @import "SubscriptionPlanComponent.css";


</style>
