<template>
    <!-- Register Modal -->
    <div class="modal fade" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <section class="signuP_sec" id="signUpsec">
                        <div class="custom_container">
                            <div class="wrap_inr_signup">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="wrap_signup_form">
                                            <!-- <div class="page_numbers">
                                                <div class="container">
                                                    <ul class="numb_pag list-inline d-flex justify-content-around" type="none">
                                                        <li class="list-inline-item bsns_dtl_li active"><span>1</span> Personal Details</li>
                                                        <li class="list-inline-item stor_subs_li"><span>2</span> Address</li>
                                                        <li class="list-inline-item"><span>3</span> Payment</li>
                                                    </ul>
                                                </div>
                                            </div> -->
                                            <section class="register_sec bsns_dtl">
                                                <div class="new_div_aded">
                                                    <div class="wrap_register_white">
                                                        <div class="inr_signup left_info">
                                                            <form class="userSignUpForm">
                                                                <div class="cont_rp_form">
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group text-left b-color">
                                                                                <h2 class="o-color"> Sign Up &nbsp;&nbsp;<sub class="b-color"> It’s quick and easy</sub> </h2>
                                                                                <br>
                                                                                <h4 class="b-color">Account information</h4>
                                                                                <br>
                                                                                <label class="radio-inline" style="padding-left: 0px;">
                                                                                    You are an..
                                                                                   </label>
                                                                                   <!-- Please change Institution To Entity -->

                                                                                    <label class="radio-inline">
                                                                                        <input type="radio" name="user_type_id" value="" >
                                                                                    </label>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <!-- Sign up form for entity user **** NOT DYNAMIC ****-->
                                                                    <div class="form-row">
                                                                        <div class="col-md-12 form-group b-color">
                                                                            <label for="Entity Name">Entity Name<sup class="imp_mark">*</sup></label>
                                                                            <input type="text" name="institution_name" class="form-control gray-input" placeholder="Entity Name" autocomplete="off">
                                                                        </div>
                                                                        <div class="col-md-6 form-group b-color">
                                                                            <label for="CR Number">CR Number<sup class="imp_mark">*</sup></label>
                                                                            <input type="number" name="cr_number" class="form-control gray-input" placeholder="CR Number" autocomplete="off">
                                                                        </div>
                                                                        <div class="col-md-6 form-group b-color">
                                                                            <label for="Website Url">Website Url<sup class="imp_mark">*</sup></label>
                                                                            <input type="text" name="website_url" class="form-control gray-input" placeholder="Website Url" autocomplete="off">
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group text-left b-color">
                                                                                <label class="frst_nm_txt">Contact Name</label><sup class="imp_mark">*</sup>
                                                                                <input type="text" name="first_name" class="form-control frst_nm_plc gray-input" placeholder="First Name">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group text-left ">
                                                                                <label class="last_nm_txt"> </label><sup class="imp_mark imp_mh">*</sup>
                                                                                <input type="text" name="last_name" class="form-control last_nm_plc gray-input" placeholder="Last Name" style="
                                                                                margin-top: 4.5px;">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group text-left b-color">
                                                                                <label>Email Address<sup class="imp_mark">*</sup></label>
                                                                                <input type="text" name="email" class="form-control gray-input" placeholder="Email Address" autocomplete="off">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group intl_input text-left b-color">
                                                                                <label>Contact Number<sup class="imp_mark">*</sup></label>
                                                                                <input autocomplete="off" type="tel" name="mobile_no" class="form-control" placeholder="Contact Number" value="+966"  id="phone">
                                                                                <input type="hidden" class="form-control gray-input" name="isd_code" id="isd_code" value="966">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group text-left b-color">
                                                                                <label>Password<sup class="imp_mark">*</sup></label>
                                                                                <input autocomplete="off" type="password" id="password" name="password" class="form-control gray-input" placeholder="New Password">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group text-left b-color">
                                                                                <label>Confirm Password<sup class="imp_mark">*</sup></label>
                                                                                <input autocomplete="off" type="password" name="confirm_password" class="form-control gray-input" placeholder="Confirm New Password">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group text-left">
                                                                        <div class="custom-control custom-checkbox ">
                                                                            <input type="checkbox" class="custom-control-input" id="customCheck_nw" name="terms_conditions">
                                                                            <label class="custom-control-label b-color" for="customCheck_nw">I agree to the <a href="" class="ter_links" target="_blank"> Terms & Conditions.</a></label>
                                                                        </div>
                                                                        <!-- <label class="error" for="terms_conditions">Please agree terms & conditions</label> -->
                                                                        <span class="error" id="terms_conditions_id"></span>
                                                                    </div>
                                                                    <div class="form-group text-right">
                                                                        <a class="btn btn_theme usr_form" data-toggle="modal" @click="verificationCode"><span>Next <i class="fa fa-arrow-right"></i></span></a>
                                                                    </div>
                                                                    <hr>
                                                                    <!-- END of Sign up form for entity user **** NOT DYNAMIC ****-->

                                                                    <!-- Sign up form for individual user **** NOT DYNAMIC ****-->
                                                                    <div class="form-row">
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group text-left b-color">
                                                                                <label class="frst_nm_txt">Name</label><sup class="imp_mark">*</sup>
                                                                                <input type="text" name="first_name" class="form-control frst_nm_plc gray-input" placeholder="First Name">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group text-left b-color">
                                                                                <label class="last_nm_txt"> </label><sup class="imp_mark imp_mh">*</sup>
                                                                                <input type="text" name="last_name" class="form-control last_nm_plc gray-input" placeholder="Last Name" style="
                                                                                margin-top: 4.5px;">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group text-left b-color">
                                                                                <label>Nationality</label><sup class="imp_mark imp_mh">*</sup>
                                                                                <select  class="form-control selectFeild gray-input" id="countries">
                                                                                    <option value="Kuwait">Kuwait</option>
                                                                                    <option value="Saudi Arabia">Saudi Arabia</option>
                                                                                    <option value="Jordan">Jordan</option>
                                                                                    <option value="Qatar">Qatar</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group text-left  b-color">
                                                                                <label>Gender</label><sup class="imp_mark imp_mh">*</sup>
                                                                                <Select class="form-control selectFeild gray-input" id="gender">
                                                                                    <option value="Male">Male</option>
                                                                                    <option value="Female">Female</option>
                                                                                </Select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group text-left b-color ">
                                                                                <label for="birthday">Date of Birth</label><sup class="imp_mark imp_mh">*</sup>
                                                                                <input  class="form-control gray-input" type="date" id="birthday" name="birthday">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group text-left b-color ">
                                                                                <label>Identification Type</label><sup class="imp_mark imp_mh">*</sup>
                                                                                <Select class="form-control selectFeild gray-input" id="identification-id">
                                                                                    <option value="National ID">National ID</option>
                                                                                    <option value="Passport">Passport</option>
                                                                                    <option value="Residence ID">Residence ID</option>
                                                                                </Select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group text-left b-color ">
                                                                                <label>Identification Number</label><sup class="imp_mark imp_mh">*</sup>
                                                                                <input  class="form-control gray-input" type="number" id="identificationNumber" name="identification Number">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group text-left b-color">
                                                                                <label>Email Address<sup class="imp_mark">*</sup></label>
                                                                                <input type="text" name="email" class="form-control gray-input" placeholder="Email Address" autocomplete="off">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group intl_input text-left b-color">
                                                                                <label>Contact Number<sup class="imp_mark">*</sup></label>
                                                                                <input autocomplete="off" type="tel" name="mobile_no" class="form-control gray-input" placeholder="Contact Number" value="+966"  id="phone">
                                                                                <input type="hidden" class="form-control" name="isd_code" id="isd_code" value="966">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group text-left b-color">
                                                                                <label>Password<sup class="imp_mark">*</sup></label>
                                                                                <input autocomplete="off" type="password" id="password" name="password" class="form-control gray-input" placeholder="New Password">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group text-left b-color">
                                                                                <label>Confirm Password<sup class="imp_mark">*</sup></label>
                                                                                <input autocomplete="off" type="password" name="confirm_password" class="form-control gray-input" placeholder="Confirm New Password">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row insti_div">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group text-left">
                                                                                <label>CR Number<sup class="imp_mark">*</sup></label>
                                                                                <input type="number" name="cr_number" class="form-control gray-input" placeholder="CR Number" autocomplete="off">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {{-- <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group text-left">
                                                                                <label class="frst_nm_txt">Contact Name</label><sup class="imp_mark">*</sup>
                                                                                <input type="text" name="first_name" class="form-control frst_nm_plc gray-input" placeholder="First Name">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group text-left">
                                                                                <label class="last_nm_txt"> </label><sup class="imp_mark imp_mh">*</sup>
                                                                                <input type="text" name="last_name" class="form-control last_nm_plc gray-input" placeholder="Last Name">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group text-left">
                                                                                <label>Email Address<sup class="imp_mark">*</sup></label>
                                                                                <input type="text" name="email" class="form-control " placeholder="Email Address" autocomplete="off">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group intl_input text-left">
                                                                                <label>Contact Number<sup class="imp_mark">*</sup></label>
                                                                                <input autocomplete="off" type="tel" name="mobile_no" class="form-control" placeholder="Contact Number" value="+966"  id="phone">
                                                                                <input type="hidden" class="form-control" name="isd_code" id="isd_code" value="966">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group text-left">
                                                                                <label>Password<sup class="imp_mark">*</sup></label>
                                                                                <input autocomplete="off" type="password" id="password" name="password" class="form-control" placeholder="New Password">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group text-left">
                                                                                <label>Confirm Password<sup class="imp_mark">*</sup></label>
                                                                                <input autocomplete="off" type="password" name="confirm_password" class="form-control" placeholder="Confirm New Password">
                                                                            </div>
                                                                        </div>
                                                                    </div> --}}
                                                                    <div class="row insti_div">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group text-left">
                                                                                <label>Website Url</label>
                                                                                <input type="text" name="website_url" class="form-control" placeholder="Website Url" autocomplete="off">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group text-left">
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="customCheck_nw" name="terms_conditions">
                                                                        <label class="custom-control-label b-color" for="customCheck_nw">I agree to the <a href="" class="ter_links" target="_blank"> Terms & Conditions.</a></label>
                                                                    </div>
                                                                    <!-- <label class="error" for="terms_conditions">Please agree terms & conditions</label> -->
                                                                    <span class="error" id="terms_conditions_id"></span>
                                                                </div>
                                                            </form>
                                                            <!-- <div class="form-group">
                                                                <div class="form-check">
                                                                    <label class="form-check-label">
                                                                        <input class="form-check-input" type="checkbox" name="checked"> I agree Terms & Conditions</a>
                                                                    </label>
                                                                </div>
                                                                <label class="error" for="checked"></label>
                                                            </div> -->
                                                        </div>
                                                        <div class="button_nex_prev">
                                                            <div class="">
                                                                {{-- <div class="form-group text-right">
                                                                    <a class="btn btn_theme usr_form" href="javascript:;"><span>Next <i class="fa fa-arrow-right"></i></span></a>
                                                                </div> --}}
                                                                <div class="form-group text-right">
                                                                    <a class="btn btn_theme usr_form" data-toggle="modal" data-target="#confirmationCodePopUp"><span>Next <i class="fa fa-arrow-right"></i></span></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Confirmation code Pop Up **** NOT DYNAMIC ****  -->
                                                        <div class="modal fade" id="confirmationCodePopUp" role="dialog">
                                                            <div class="modal-dialog">
                                                              <div class="modal-content">
                                                                <div class="modal-body">
                                                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                  <div class="text-left">
                                                                    <h5><small class="o-color">Generated By Buildmart</small></h5>
                                                                  </div>
                                                                    <br>
                                                                    <div class="text-center">
                                                                        <h3 class="o-color">
                                                                            <strong>Verification Code</strong>
                                                                        </h3>
                                                                        <h6 class="b-color"> Please enter the code that you received <br> on your registered contact number </h6>
                                                                    </div>
                                                                    <form action="" method="POST" id="formlogin" class="text-center">
                                                                        <div>
                                                                            @csrf
                                                                            <div id="ConfirmCode">
                                                                                <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                                                                                <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                                                                                <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                                                                                <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}"
                                                                                />
                                                                                <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}"
                                                                                />
                                                                                <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}"
                                                                                />
                                                                            </div>
                                                                        </div>
                                                                        <br>
                                                                        <small class="b-color">Haven't receive a code yet? <a href="#" class="o-color">Resend code </a></small>
                                                                        <div class="form-group text-center">
                                                                            <br>
                                                                            <button class="btn btn_theme btn_nex login_sub_btn" href="javascript:;"><span>Confirm <i class="fa fa-arrow-right"></i></span></button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                              </div>
                                                            </div>
                                                        </div>
                                                        <!--End of Confirmation code Pop Up **** NOT DYNAMIC ****  -->
                                                    </div>
                                                </div>
                                            </section>
                                            <section class="register_sec stor_subs">
                                                <div class="new_div_aded">
                                                    <div class="sec_heading text-center">
                                                        <h2>Address</h2>
                                                    </div>
                                                    <div class="wrap_register_white">
                                                        <div class="inr_signup left_info">
                                                            <form class="userDeliveryForm">
                                                                <div class="cont_rp_form addr_prnt_div">
                                                                    <div class="addrs_div">
                                                                        <!-- <div class="svd_ic text-right">
                                                                            <span class="cp text-danger addrs_rmv"><i class="fa fa-times"></i> Remove</span>
                                                                        </div> -->
                                                                        <div class="row">
                                                                            <div class="col-sm-12">
                                                                                <div class="form-group text-left">
                                                                                    <label>Address Title/Name</label>
                                                                                    <input type="text" name="address_title[]" class="form-control" placeholder="Home/Office/Store">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-sm-12">
                                                                                <div class="form-group text-left">
                                                                                    <label>Address Detail</label>
                                                                                    <input type="text" name="address[]" class="form-control" placeholder="Builiding Name/Floor No./Office No.">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-sm-12">
                                                                                <div class="form-group text-left">
                                                                                    <label>Province</label>
                                                                                    <input type="text" name="province_name[]" class="form-control" placeholder="Province Name">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-sm-12">
                                                                                <div class="form-group text-left">
                                                                                    <label>Postal Code</label>
                                                                                    <input type="text" name="postal_code[]" class="form-control" placeholder="Postal Code">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group text-left">
                                                                                    <label>Country</label>
                                                                                    <select name="country_id[]" class="form-control custom-select chng_cntry">
                                                                                        <option value="" disabled="" selected>Select Country</option>

                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group text-left">
                                                                                    <label>City</label>
                                                                                    <!-- <input type="text" name="city[]" class="form-control" placeholder="City"> -->
                                                                                    <select class="form-control custom-select chng_city" name="city_id[]">
                                                                                        <option value="" disabled="" selected="">Select City</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-sm-12">
                                                                                <div class="form-group text-left">
                                                                                    <label>Location</label>
                                                                                    <input id="pac-input" type="text" name="location[]" class="form-control" placeholder="Location">
                                                                                    <!-- <input type="hidden" name="latitude" id="map_loc_lat_id">
                                                                                    <input type="hidden" name="longitude" id="map_loc_lng_id">
                                                                                    <div class="map"></div>
                                                                                    <input type="text" id="pac-input" class="form-control" name="location[]" placeholder="Search Location" value="">
                                                                                    <span>
                                                                                        <label class="error" for="pac-input"></label>
                                                                                    </span> -->
                                                                                </div>
                                                                                <div class="form-group text-left">
                                                                                    <div class="adrs_map">
                                                                                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d231350.7620923537!2d55.1940508!3d25.0389721!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x41ea57253d9dc545!2sOkzeela%20Star%20Building%20Materials%20Trading%20llc!5e0!3m2!1sen!2sin!4v1589633056776!5m2!1sen!2sin" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <div class="form-group text-left">
                                                                            <span class="ad_adrs_spn">+ Add Another Address</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <div class="form-group text-right">
                                                                            <span class="skpi_spn dlvry_form">SKIP <i class="fa fa-angle-double-right"></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <input type="hidden" name="addrs_count" class="addrs_count_cls" value="1">
                                                            </form>
                                                        </div>
                                                        <div class="button_nex_prev">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="text-left">
                                                                        <a class="btn btn-secondry btn_prev" href="javascript:;"><i class="fa fa-arrow-left"></i> Previous</a>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="text-right">
                                                                        <a class="btn btn_theme dlvry_form" href="javascript:;"><span>Next <i class="fa fa-arrow-right"></i></span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <section class="register_sec docs_upload">
                                                <div class="new_div_aded">
                                                    <div class="sec_heading text-center">
                                                        <h2>Payment Info</h2>
                                                    </div>
                                                    <div class="wrap_register_white">
                                                        <div class="uplod_docs">
                                                            <form class="userPaymentForm">
                                                                <div class="cont_rp_form cards_prnt_div">
                                                                    <div class="ad_cards_div">
                                                                        <!-- <div class="svd_ic text-right">
                                                                            <span class="cp text-danger"><i class="fa fa-times"></i> Remove</span>
                                                                        </div> -->
                                                                        <div class="row">
                                                                            <div class="col-sm-12">
                                                                                <div class="form-group text-left">
                                                                                    <label>Card Type</label>
                                                                                    <select name="card_type[]" class="form-control custom-select">
                                                                                        <option value="" selected>Select Card</option>
                                                                                        <option value="debit_card">Debit Card</option>
                                                                                        <option value="credit_card">Credit Card</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-sm-12">
                                                                                <div class="form-group text-left">
                                                                                    <label>Card Number</label>
                                                                                    <input type="text" name="card_no[]" class="form-control" placeholder="Card Number">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-sm-12">
                                                                                <div class="form-group text-left">
                                                                                    <label>Name on Card</label>
                                                                                    <input type="text" name="name_on_card[]" class="form-control" placeholder="Name on Card">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-sm-6">
                                                                                <label>Expiry Date</label>
                                                                                <div class="row">
                                                                                    <div class="col-sm-6">
                                                                                        <div class="form-group text-left">
                                                                                            <select name="expiry_month[]" class="form-control custom-select">
                                                                                                <option value="" selected>Month</option>
                                                                                                <option value="01">01</option>
                                                                                                <option value="02">02</option>
                                                                                                <option value="03">03</option>
                                                                                                <option value="04">04</option>
                                                                                                <option value="05">05</option>
                                                                                                <option value="06">06</option>
                                                                                                <option value="07">07</option>
                                                                                                <option value="08">08</option>
                                                                                                <option value="09">09</option>
                                                                                                <option value="10">10</option>
                                                                                                <option value="11">11</option>
                                                                                                <option value="12">12</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-sm-6">
                                                                                        <div class="form-group text-left">
                                                                                            <select name="expiry_year[]" class="form-control custom-select">
                                                                                                <option value="" selected>Year</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group text-left">
                                                                                    <label>CVV Number</label>
                                                                                    <input type="password" name="cvv[]" class="form-control" placeholder="CVV Number">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <div class="form-group text-left">
                                                                            <span class="ad_card_spn">+ Add Another Card</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <div class="form-group text-right">
                                                                            <span class="skpi_spn usr_reg">SKIP <i class="fa fa-angle-double-right"></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <input type="hidden" name="cards_count" class="cards_count_cls" value="1">
                                                            </form>
                                                        </div>
                                                        <div class="button_nex_prev">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="text-left">
                                                                        <a class="btn btn-secondry btn_prev" href="javascript:;"><i class="fa fa-arrow-left"></i> Previous</a>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="text-right">
                                                                        <!-- <a class="btn btn_theme" href=""><span>Submit <i class="fa fa-arrow-right"></i></span></a> -->
                                                                        <a class="btn btn_theme usr_reg" href="javascript:;"><span>Submit <i class="fa fa-arrow-right"></i></span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="rgt_info text-center d-flex flex-column justify-content-center">
                                            <h4 class="alrdy b-color">Already have an account?</h4>
                                            <br>
                                            <a href="" class="btn btn_theme text-center" style="width: 40%; margin: 0px 30%;"><span> Sign In</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "RegisterModal",
        data() {
            return {
                signInForm: {
                    name: "",
                    email: "",
                    password: "",
                },
            };
        },

        mounted() { },

        methods: {
            async signIn() {
                console.log(this.signInForm);
                let res = await this.network().signInUser(this.signInForm);
                this.processRequest(res);
            },

            verificationCode() {
                $("#verification_code").modal("show");
                $("#register_modal").modal("hide");
            },
        },
    };
</script>

<style scoped>
    .button_nex_prev .btn {
        margin: 20px 0 0;
    }

    .btn.focus,
    .btn:focus,
    .btn:hover {
        color: #333;
        text-decoration: none;
    }
</style>
