<template>
    <b-navbar id="to-fix-header" class="navbar-fixed-top second-header header">
        <div class="container-fluid" style="flex-wrap:nowrap !important">
            <div class="navbar-header" >
                <a class="navbar-brand" @click="gotoHomePage"><img class="header-t-img" src="frontend/img/en-logo.png" alt=""></a>
                <div class="header-search" >
                    <select class="form-control select2-ajax" id="productSearch" name="productSearch"></select>
                </div>
            </div>
            <main-menu class="right-menu"></main-menu>
<!--            <div class="row">-->
<!--                <div class="col-12">-->


<!--                </div>-->


<!--                <ul class="col-md-6 col-sm-12">-->
<!--                    <form class="form-control-lg navbar-form navbar-left" action="" id="navBarSearchForm">-->
<!--                        <b-input-group size="sm" class="mb-2">-->
<!--                            <b-form-input class="form-control" type="search" placeholder="Search terms"></b-form-input>-->
<!--                            <b-input-group-append is-text class="input-group-btn">-->
<!--                                <b-icon icon="search" style="color: #D3152B;"></b-icon>-->
<!--                            </b-input-group-append>-->
<!--                        </b-input-group>-->
<!--                    </form>-->
<!--                </ul>-->

<!--            </div>-->
        </div>
<!--                <main-menu></main-menu>-->

    </b-navbar>
</template>

<script>
    import BaseComponent from "../../base/BaseComponent";

    export default {
        name: "HeaderSecond",
        extends: BaseComponent,
        data() {
            return {

            }
        },
        methods: {
            gotoHomePage(){
                this.route('/')
            },


            // handleScroll (event) {
            //     var header = document.getElementById("to-fix-header");
            //     var sticky = header.offsetTop;
            //     // Any code to be executed when the window is scrolled
            //     if (window.pageYOffset > sticky) {
            //         header.setAttribute("fixed", "top");
            //         header.classList.add("sticky");
            //     } else {
            //         header.removeAttribute('fixed');
            //         header.classList.remove("sticky");
            //     }
            // }

        },
        // created() {
        //     window.addEventListener('scroll', this.handleScroll);
        // },

        // destroyed () {
        //     window.removeEventListener('scroll', this.handleScroll);
        // },
    }
</script>

<style scoped>
    @import "HeaderSecond.css";
</style>
