#navBarSearchForm {
    padding-top: 5px;
}

#navBarSearchForm input[type=search] {
    width: 500px !important;
    height: 50px;
    background-color: #b6b6b618 !important;
    border-right: 0px !important;
}

.navbar-brand{
    max-height: 70px;
    display: inline;
}

.header-t-img{
    height: 60px
}

#myNavbar{
    width: 100%;
}

.search-form{
    max-width: 500px;
}

form{
    float: left;
    margin-top: 15px;
}

.header-search{
    position: absolute;
    left: 200px;
    top: 50%;
    transform: translateY(-50%);
    width: 30vw;
}

