section, summary {
    display: block;
    padding: 20px 0px 0px 0px;
    position: relative;
}

.public_pages {
    text-align: center;
}
a {
    color: #337ab7;
    text-decoration: none;
}

.public_content h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 13px 0 0;
}
p {
    margin: 0 0 10px;
}
.public_img img {
    width: 60px;
    display: inline-block;
    text-align: center;
    margin: 0 13px 0 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}

